{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "tags": [
    {
      "name": "1 Introdução"
    },
    {
      "name": "2 Padrões"
    },
    {
      "name": "3 Tabelas"
    }
  ],
  "info": {
    "version": "1",
    "title": "API DUE"
  },
  "basePath": "/api-consulta-due/api",
  "paths": {
    "Descrição": {
      "head": {
        "tags": [
          "1 Introdução"
        ],
        "summary": "API DUE - Declaração Unica de Exportação",
        "description": "### Bem vindo a API DUE - Perfil Instituição Financeira. \n    Consolidamos aqui as informações técnicas para a integração dos sistemas próprios das instituições financeiras com os serviços do Portal Único do Comércio Exterior, baseado nas instruções de uso e contratação conforme a plataforma de habilitação API Serpro. A API DUE foi desenvolvida baseada na arquitetura REST/JSON no formato UTF-8.\n\n### <br> API Serpro - Plataforma de Habilitação \n  Todas as Instituições Financeiras que possuem perfil de acesso para realizar a consulta DUE em tela no Portal Único do Comércio Exterior já estão aptas a celebrar o contrato comercial com o Serpro para consumo da API DUE.\n\n  <br> O contratante terá acesso a todas as informações relacionadas ao modelo de sustentação comercial e técnica dos serviços API por meio do portal de relacionamento com o cliente Minha Conta, onde as principais funcionalidades são detalhadas no tutorial Área do Cliente.\n\n  <br> As APIs disponibilizadas pela plataforma API Serpro utilizam o protocolo Oauth2 para realizar a autenticação e autorização de acesso das APIs contratadas, que resumidamente seguem o fluxo:\n\n### Fase Contratual - Realizada para obter as credenciais de acesso\nPara consumir as APIs, é necessário utilizar as credenciais de acesso (Consumer Key e Consumer Secret) disponibilizados no portal do Cliente. Esses códigos servem para identificar o contrato. Exemplos de código:\n<br>\n#### Consumer Key: djaR21PGoYp1iyK2n2ACOH9REdUb\n#### Consumer Secret: ObRsAJWOL4fv2Tp27D1vd8fB3Ote\n\n<br> Para garantir a irretratabilidade (não repúdio), o portal do cliente exigirá o certificado digital e-CNPJ (cadeia ICP Brasil) da contratante para visualizar essas credenciais de acesso.\n\n### Fase Operacional\n#### Consumo da API - Passo 1 - Token de Acesso (Bearer)\nPara consultar as APIs disponibilizadas pelo SERPRO, é necessário obter um Token de Acesso Temporário (Bearer). Esse token possui um tempo de validade e sempre que expirado, este passo de requisição de um novo token de acesso deve ser repetido.\n<br> Para solicitar o token temporário é necessário realizar uma requisição HTTP POST para o endpoint Token https://apigateway.serpro.gov.br/token, informando as credenciais de acesso (consumerKey:consumerSecret) no HTTP Header Authorization, no formato base64, formato este que é utilizado para criptografar as credenciais de acesso e com isso garantir sigilo no tráfego de rede.\n<br>\n#### Consumo da API - Passo 2 – Requisição ao serviço API DUE\nDe posse do Token de Acesso (Bearer), a requisição a um dos serviços contratados pode ser realizada conforme o exemplo abaixo. No cabeçalho, deve constar a informação:\n<br> Authorization: Bearer {bearer gerado via https://apigateway.serpro.gov.br/token com base no Consumer Key e Consumer Secret }\n\n<br> Exemplo, no ambiente de VALIDAÇÃO, utilizando o comando cURL no terminal Ubuntu:\n\ncurl -X GET --header \"Accept: application/json\" --header \"Authorization: Bearer 953bae789a1726734005d238e939c978\" \"\n<br> https://apigateway.serpro.gov.br/api-consulta-due-val/api/v1/due/17BR0055562808/17AAA101000\"\n\n<br> onde 17BR0055562808 é o número da DUE e 17AAA101000 é a chave de acesso disponibilizada pelo exportador\nresponses: {}"
      }
    },
    "Formatos e Tipos": {
      "head": {
        "tags": [
          "2 Padrões"
        ],
        "summary": "Formatos e Tipos",
        "description": "\nOs seguintes tipos de dados são utilizados pela API Loja Franca:\n\n| Tipos | Descrição | Formato\n| ---------------------- | :------------------------------------------------------------- | ------------------ |\n| string        | Cadeia de caracteres |\n| string - data     | String com formato de data  | yyyy-MM-dd\n| string - data/hora | String com formato de data e hora | yyyy-MM-ddTHH:mm:ss\n| integer | Número inteiro que representa códigos e identificadores |\n| number | Número inteiro em situações que pode passar do valor 2^31-1 |\n| decimal | Número fracionado, sempre com duas casas após o decimal, separado por \".\" | Ex: 123456789012.22 (Exceto cotação do dólar, que pode ter até 3 casas após o decimal).\n\n --------------------------"
      },
      "responses": {}
    },
    "Tabela de mensagens": {
      "head": {
        "tags": [
          "3 Tabelas"
        ],
        "summary": "Tabela com as mensagens de sucesso e erros",
        "description": "\n| Código | Mensagem\n| ------ | --------\n| 200   | Operação realizada com sucesso\n| 400   | Requisição mal formatada\n| 403   | Requisição não autorizada\n| 404   | Registro não encontrado\n| 408   | Request time-out\n| 500   | Erro interno do servidor\n| 503   | Serviço indisponível\n| 504   | Gateway time-out "
      }
    },
    "/v1/due/{numero}/{chave}": {
      "get": {
        "tags": [
          "4 Métodos e Testes Consulta"
        ],
        "summary": "Consulta a DUE",
        "description": "Retorna todas as informações vinculadas à DUE - Declaração Única de Exportação de acordo com o perfil da instituição financeira.\n## Parâmetros de Entrada\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n|numero|Número da DUE|string|Obrigatório\n|chave|Chave de acesso|string|Obrigatório\n## Atributos de Resposta\n|Nome|Descrição|Tipo \n|----|---------|----\n|bloqueio|Indicador de carga bloqueada para embarque|string\n|canal|Canal atribuído à DUE pelo GR|string\n|chaveDeAcesso|Identificação da Chave de acesso|string\n|dataDeRegistro|Data de Registro da DUE|string\n|declarante|Identificação do Declarante|string\n|embarqueEmRecintoAlfandegado|Indicador se embarque em Recinto|string\n|despachoEmRecintoAlfandegado|Indicador se despacho em Recinto|string\n|enderecoDoEstabelecimentoDoLocalDeDespacho|Endereço de Despacho Fora de Recinto|string\n|enderecoDoEstabelecimentoDoLocalDeEmbarque|Endereço de Embarque Fora de Recinto|string\n|estabelecimentoDoLocalDeDespacho|Identificação do Despacho|string\n|eventosDoHistorico|Eventos vinculados à DUE|string\n|formaDeExportacao|Forma de Exportação|string\n|id|Sequencial da /DUE|string\n|impedidoDeEmbarque|Indicador de carga bloqueada para embarque|string\n|informacoesComplementares|Informações Complementares|string\n|itens|Informações do Item de DUE|string\n|latitudeDoLocalDeEmbarque|Latitude do Embarque|string\n|longitudeDoLocalDeEmbarque|Longitude do Embarque|string\n|latitudeDoLocalDeDespacho|Latitude do Despacho|string\n|longitudeDoLocalDeDespacho|Longitude do Despacho|string\n|moeda|Moeda da Operação|string\n|numero|Número da DUE|string\n|paisImportador|País Importador|string\n|recintoAduaneiroDeDespacho|Recinto Despacho|string\n|recintoAduaneiroDeEmbarque|Recinto Embarque|string\n|referenciaDoEnderecoDoLocalDeDespacho|Referência do Local de Despacho|string\n|referenciaDoEnderecoDoLocalDeEmbarque|Referência do Local do Embarque|string\n|ruc|Registro Único de Carga (RUC)|string\n|situacao|Situação atual da DU-E em relação ao controle aduaneiro|string\n|situacaoDoTratamentoAdministrativo|Situação atual da DU-E em relação ao controle administrativo|string\n|situacaoEspecial|Situação Especial|string\n|situacoesDaCarga|Situação da Carga|string\n|tipo|Tipo de Operação|string\n|tratamentoPrioritario|Indicador de Tratamento Prioritário|string\n|unidadeLocalDeDespacho|Unidade Despacho|string\n|unidadeLocalDeEmbarque|Unidade Embarque|string\n|viaDeTransporteEspecial|Via de Transporte|string\n|responsavelPeloACD|Responsável pelo ACD|string\n|motivoDeDispensaDaNotaFiscal|Movito de Dispensa NF|string\n|justificativaDeDispensaDaNotaFiscal|Justificativa Dispensa NF|string\n|despachoEmRecintoDomiciliar|Justificativa Dispensa NF|string\n|dataDoCCE|Data do Indicador de Carga Completamente Exportada|string\n|dataDeCriacao|Data de Criação da DUE|string\n|dat|Indicador de Exigência de DAT|string\n|oea|Identificador de Operador Econômico Autorizado|string",
        "parameters": [
          {
            "in": "path",
            "name": "numero",
            "type": "string",
            "description": "Número da DUE",
            "required": true
          },
          {
            "in": "path",
            "name": "chave",
            "type": "string",
            "description": "Chave de Acesso",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultaDUE"
            }
          },
          "422": {
            "description": "Erros\nCódigos de erros possíveis: Veja item 3 Tabelas"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "ConsultaDUE": {
      "type": "object",
      "properties": {
        "numero": {
          "type": "string",
          "example": "18BR0000133506"
        },
        "ruc": {
          "type": "string",
          "example": "8BR00000000100000000000000000013602"
        },
        "chaveDeAcesso": {
          "type": "string",
          "example": "18ERM135006"
        },
        "tratamentoAdministrativoComImpedimentoDeEmbarque": {
          "type": "string",
          "example": "false"
        },
        "situacaoDaCarga": {
          "type": "string",
          "example": "null"
        },
        "bloqueadaParaEmbarque": {
          "type": "string",
          "example": "false"
        },
        "operadorEconomicoAutorizado": {
          "type": "string",
          "example": "false"
        },
        "tratamentoPrioritario": {
          "type": "string",
          "example": "true"
        },
        "moeda": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "example": "220"
              },
              "descricao": {
                "type": "string",
                "example": "DOLAR DOS EUA"
              }
            }
          }
        },
        "localDeDespacho": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "unidadeRFB": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "717600"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "PORTO DO RIO"
                    }
                  }
                }
              },
              "recintoAduaneiro": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "7929301"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "PORTO DO RIO DE JANEIRO - CODERJ - RIO DE JANEIRO/RJ - PORTO MARIT.ALFAND.-USO PUBLICO-CIA.DOCAS DO EST.DO RIO DE JANEIR"
                    },
                    "latitude": {
                      "type": "string",
                      "example": "-20.812222"
                    },
                    "longitude": {
                      "type": "string",
                      "example": "-40.248333"
                    }
                  }
                }
              }
            }
          }
        },
        "localDeEmbarque": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "unidadeRFB": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "717600"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "PORTO DO RIO"
                    }
                  }
                }
              },
              "recintoAduaneiro": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "7929301"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "PORTO DO RIO DE JANEIRO - CODERJ - RIO DE JANEIRO/RJ - PORTO MARIT.ALFAND.-USO PUBLICO-CIA.DOCAS DO EST.DO RIO DE JANEIR"
                    },
                    "latitude": {
                      "type": "string",
                      "example": "-20.812222"
                    },
                    "longitude": {
                      "type": "string",
                      "example": "-40.248333"
                    }
                  }
                }
              }
            }
          }
        },
        "usoObrigatorioDeDocumentoDeTransito": {
          "type": "string",
          "example": "false"
        },
        "itens": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "numero": {
                "type": "string",
                "example": "1"
              },
              "exportador": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "nome": {
                      "type": "string",
                      "example": "OWMKX NX OIWUQD UW"
                    },
                    "nacionalidade": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "codigo": {
                            "type": "string",
                            "example": "105"
                          },
                          "nome": {
                            "type": "string",
                            "example": "BRASIL"
                          },
                          "nomeResumido": {
                            "type": "string",
                            "example": "BRA"
                          }
                        }
                      }
                    },
                    "numeroDoDocumento": {
                      "type": "string",
                      "example": "00000000002720"
                    },
                    "tipoDoDocumento": {
                      "type": "string",
                      "example": "CNPJ"
                    },
                    "estrangeiro": {
                      "type": "string",
                      "example": "false"
                    }
                  }
                }
              },
              "itemDaNotaFiscalDeExportacao": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "notaFiscalEletronica": {
                      "type": "string",
                      "example": "true"
                    },
                    "finalidade": {
                      "type": "string",
                      "example": "normal"
                    },
                    "serie": {
                      "type": "string",
                      "example": "90"
                    },
                    "cfop": {
                      "type": "string",
                      "example": "7101"
                    },
                    "numeroDoItem": {
                      "type": "string",
                      "example": "1"
                    },
                    "numeroDoDocumento": {
                      "type": "string",
                      "example": "684320"
                    },
                    "chaveDeAcesso": {
                      "type": "string",
                      "example": "35180500000000002720550900006843201000000009"
                    },
                    "codigoDoProduto": {
                      "type": "string",
                      "example": "000000000000021600001"
                    }
                  }
                }
              },
              "ncm": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "12011000"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "SOJA, MESMO TRITURADA."
                    },
                    "UnidadeMedidaEstatistica": {
                      "type": "string",
                      "example": "UNIDADE"
                    },
                    "Atributos": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "codigo": {
                            "type": "string",
                            "example": "001"
                          },
                          "conteudo": {
                            "type": "string",
                            "example": "Estampado"
                          },
                          "descricao": {
                            "type": "string",
                            "example": "Tipo de tecido"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "descricaoDaMercadoria": {
                "type": "string",
                "example": "PRODUTO GENERICO TESTE - GRADE COMPOSTA 34."
              },
              "quantidadeNaUnidadeEstatistica": {
                "type": "string",
                "example": "1"
              },
              "pesoLiquidoTotal": {
                "type": "string",
                "example": "49"
              },
              "unidadeComercializada": {
                "type": "string",
                "example": "UN"
              },
              "valorDaMercadoriaNaCondicaoDeVenda": {
                "type": "string",
                "example": "3000"
              },
              "valorDaMercadoriaNoLocalDeEmbarque": {
                "type": "string",
                "example": "200,1"
              },
              "valorDaMercadoriaNoLocalDeEmbarqueEmReais": {
                "type": "string",
                "example": "7143.55716"
              },
              "dataDeConversao": {
                "type": "string",
                "example": "2018-05-01T05:57:00.000+0000"
              },
              "importador": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "nome": {
                      "type": "string",
                      "example": "NF-E EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM VALOR FISCAL"
                    },
                    "endereco": {
                      "type": "string",
                      "example": "RUA ELISA SILVERIO - 45 - CENTRO - EXTERIOR - 86800270 - RUSSIA"
                    },
                    "pais": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "string",
                            "example": "676"
                          },
                          "nome": {
                            "type": "string",
                            "example": "RUSSIA, FEDERACAO DA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "eventosDoHistorico": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "dataEHoraDoEvento": {
                "type": "string",
                "example": "2018-05-02T07:07:47.002+0000"
              },
              "evento": {
                "type": "string",
                "example": "Registro"
              },
              "responsavel": {
                "type": "string",
                "example": "07073311703"
              },
              "informacoesAdicionais": {
                "type": "string",
                "example": "null"
              }
            }
          }
        }
      }
    }
  }
}
