{
  "host": "gateway.apiserpro.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "tags": [
    {
      "name": "1 Introdução"
    },
    {
      "name": "2 Padrões"
    },
    {
      "name": "3 Tabelas"
    }
  ],
  "info": {
    "version": "1",
    "title": "API DUE",
    "description": "\nPara informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf\n  "
  },
  "basePath": "/api-consulta-due-trial/api",
  "paths": {
    "Descrição": {
      "head": {
        "tags": [
          "1 Introdução"
        ],
        "summary": "API DUE - Declaração Unica de Exportação",
        "description": "\nPara informações de como se autenticar antes de consumir as API, por favor,\nconsulte a documentação em:\nhttps://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf      \n\n### Bem vindo a API DUE - Perfil Instituição Financeira. \n    Consolidamos aqui as informações técnicas para a integração dos sistemas próprios das instituições financeiras com os serviços do Portal Único do Comércio Exterior, baseado nas instruções de uso e contratação conforme a plataforma de habilitação API Serpro. A API DUE foi desenvolvida baseada na arquitetura REST/JSON no formato UTF-8.\n\n### <br> API Serpro - Plataforma de Habilitação \n  Todas as Instituições Financeiras que possuem perfil de acesso para realizar a consulta DUE em tela no Portal Único do Comércio Exterior já estão aptas a celebrar o contrato comercial com o Serpro para consumo da API DUE.\n\n  <br> O contratante terá acesso a todas as informações relacionadas ao modelo de sustentação comercial e técnica dos serviços API por meio do portal de relacionamento com o cliente Minha Conta, onde as principais funcionalidades são detalhadas no tutorial Área do Cliente.\n\n  <br> Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf <br>\nresponses: {}"
      }
    },
    "Formatos e Tipos": {
      "head": {
        "tags": [
          "2 Padrões"
        ],
        "summary": "Formatos e Tipos",
        "description": "\nOs seguintes tipos de dados são utilizados pela API Loja Franca:\n\n| Tipos | Descrição | Formato\n| ---------------------- | :------------------------------------------------------------- | ------------------ |\n| string        | Cadeia de caracteres |\n| string - data     | String com formato de data  | yyyy-MM-dd\n| string - data/hora | String com formato de data e hora | yyyy-MM-ddTHH:mm:ss\n| integer | Número inteiro que representa códigos e identificadores |\n| number | Número inteiro em situações que pode passar do valor 2^31-1 |\n| decimal | Número fracionado, sempre com duas casas após o decimal, separado por \".\" | Ex: 123456789012.22 (Exceto cotação do dólar, que pode ter até 3 casas após o decimal).\n\n --------------------------"
      },
      "responses": {}
    },
    "Tabela de mensagens": {
      "head": {
        "tags": [
          "3 Tabelas"
        ],
        "summary": "Tabela com as mensagens de sucesso e erros",
        "description": "\n| Código | Mensagem\n| ------ | --------\n| 200   | Operação realizada com sucesso\n| 400   | Requisição mal formatada\n| 403   | Requisição não autorizada\n| 404   | Registro não encontrado\n| 408   | Request time-out\n| 500   | Erro interno do servidor\n| 503   | Serviço indisponível\n| 504   | Gateway time-out "
      }
    },
    "/v1/due/{numero}/{chave}": {
      "get": {
        "tags": [
          "4 Métodos e Testes Consulta"
        ],
        "summary": "Consulta a DUE",
        "description": "Retorna todas as informações vinculadas à DUE - Declaração Única de Exportação de acordo com o perfil da instituição financeira.\n## Parâmetros de Entrada\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n|numero|Número da DUE|string|Obrigatório\n|chave|Chave de acesso|string|Obrigatório\n\n\n## Atributos de Resposta\n|Nome|Descrição|Tipo \n|----|---------|----\n|numero|Número da DUE|string\n|ruc|Registro Único de Carga (RUC)|string\n|chaveDeAcesso|Identificação da Chave de acesso|string\n|tratamentoAdministrativoComImpedimentoDeEmbarque|Se a declaração possui algum impedimento administrativo|string\n|situacaoDaCarga|Situação da Carga|string\n|bloqueadaParaEmbarque|Condição de bloqueio para o embarque|string\n|operadorEconomicoAutorizado|Indicador de autorização de operdor econômico|string\n|tratamentoPrioritario|Indicador de Tratamento Prioritário|string\n|moeda|Moeda da Operação|string\n|localDeDespacho|Localização do local do despacho|string\n|unidadeRFB|Unida da RFB|string\n|recintoAduaneiroDespacho|Recinto aduaneiro do despacho|string\n|localDeEmbarque|Localização do local de embarque|string\n|recintoAduaneiroDeEmbaque|Recinto aduaneiro do embarque|string\n|usoObrigatorioDeDocumentoDeTransito|Indicador de obrigatoriedade de documento em trânsito|string\n|itens|Itens constante na DUE|string\n|exportador|Detalhamento do exportador|string\n|itemDaNotaFiscalDeExportacao|Informa detalhes dos itens da NF de exportação|string\n|ncm||string\n|descricaoDaMercadoria|Detalhamento das mercadorias da DUE|string\n|quantidadeNaUnidadeEstatistica||string\n|pesoLiquidoTotal|Peso líquido total dos itens da DUE|string\n|unidadeComercializada|Tipo da unidade comercializada|string\n|valorDaMercadoriaNaCondicaoDeVenda|Valor da mercadoria na venda|string\n|valorDaMercadoriaNoLocalDeEmbarque|Valor da mercadoria no local de embarque|string\n|valorDaMercadoriaNoLocalDeEmbarqueEmReais|Valor da mercadoria no local de embarque em reias|string\n|dataDeConversao|Data da conversão|string\n|importador|Detalhamento do importador|string\n### Dados para testes no trial\n    (HTTP 200) numero: 18BR0000151067 - chave: 18NYJ151060\n    (HTTP 400) numero: 18BR000015106  - chave: 18NYJ15106\n    (HTTP 404) numero: 17BR0000015111 - chave: 17NYJ125811\n        ",
        "parameters": [
          {
            "in": "path",
            "name": "numero",
            "type": "string",
            "description": "Número da DUE",
            "required": true
          },
          {
            "in": "path",
            "name": "chave",
            "type": "string",
            "description": "Chave de Acesso",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConsultaDUE"
            }
          },
          "422": {
            "description": "Erros\nCódigos de erros possíveis: Veja item 3 Tabelas"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "ConsultaDUE": {
      "type": "object",
      "properties": {
        "numero": {
          "type": "string",
          "example": "18BR0000133506"
        },
        "ruc": {
          "type": "string",
          "example": "8BR00000000100000000000000000013602"
        },
        "chaveDeAcesso": {
          "type": "string",
          "example": "18ERM135006"
        },
        "tratamentoAdministrativoComImpedimentoDeEmbarque": {
          "type": "string",
          "example": "false"
        },
        "situacaoDaCarga": {
          "type": "string",
          "example": "null"
        },
        "bloqueadaParaEmbarque": {
          "type": "string",
          "example": "false"
        },
        "operadorEconomicoAutorizado": {
          "type": "string",
          "example": "false"
        },
        "tratamentoPrioritario": {
          "type": "string",
          "example": "true"
        },
        "moeda": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "example": "220"
              },
              "descricao": {
                "type": "string",
                "example": "DOLAR DOS EUA"
              }
            }
          }
        },
        "localDeDespacho": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "unidadeRFB": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "717600"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "PORTO DO RIO"
                    }
                  }
                }
              },
              "recintoAduaneiro": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "7929301"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "PORTO DO RIO DE JANEIRO - CODERJ - RIO DE JANEIRO/RJ - PORTO MARIT.ALFAND.-USO PUBLICO-CIA.DOCAS DO EST.DO RIO DE JANEIR"
                    },
                    "latitude": {
                      "type": "string",
                      "example": "-20.812222"
                    },
                    "longitude": {
                      "type": "string",
                      "example": "-40.248333"
                    }
                  }
                }
              }
            }
          }
        },
        "localDeEmbarque": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "unidadeRFB": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "717600"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "PORTO DO RIO"
                    }
                  }
                }
              },
              "recintoAduaneiro": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "7929301"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "PORTO DO RIO DE JANEIRO - CODERJ - RIO DE JANEIRO/RJ - PORTO MARIT.ALFAND.-USO PUBLICO-CIA.DOCAS DO EST.DO RIO DE JANEIR"
                    },
                    "latitude": {
                      "type": "string",
                      "example": "-20.812222"
                    },
                    "longitude": {
                      "type": "string",
                      "example": "-40.248333"
                    }
                  }
                }
              }
            }
          }
        },
        "usoObrigatorioDeDocumentoDeTransito": {
          "type": "string",
          "example": "false"
        },
        "itens": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "numero": {
                "type": "string",
                "example": "1"
              },
              "exportador": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "nome": {
                      "type": "string",
                      "example": "OWMKX NX OIWUQD UW"
                    },
                    "nacionalidade": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "codigo": {
                            "type": "string",
                            "example": "105"
                          },
                          "nome": {
                            "type": "string",
                            "example": "BRASIL"
                          },
                          "nomeResumido": {
                            "type": "string",
                            "example": "BRA"
                          }
                        }
                      }
                    },
                    "numeroDoDocumento": {
                      "type": "string",
                      "example": "00000000002720"
                    },
                    "tipoDoDocumento": {
                      "type": "string",
                      "example": "CNPJ"
                    },
                    "estrangeiro": {
                      "type": "string",
                      "example": "false"
                    }
                  }
                }
              },
              "itemDaNotaFiscalDeExportacao": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "notaFiscalEletronica": {
                      "type": "string",
                      "example": "true"
                    },
                    "finalidade": {
                      "type": "string",
                      "example": "normal"
                    },
                    "serie": {
                      "type": "string",
                      "example": "90"
                    },
                    "cfop": {
                      "type": "string",
                      "example": "7101"
                    },
                    "numeroDoItem": {
                      "type": "string",
                      "example": "1"
                    },
                    "numeroDoDocumento": {
                      "type": "string",
                      "example": "684320"
                    },
                    "chaveDeAcesso": {
                      "type": "string",
                      "example": "35180500000000002720550900006843201000000009"
                    },
                    "codigoDoProduto": {
                      "type": "string",
                      "example": "000000000000021600001"
                    }
                  }
                }
              },
              "ncm": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "12011000"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "SOJA, MESMO TRITURADA."
                    },
                    "UnidadeMedidaEstatistica": {
                      "type": "string",
                      "example": "UNIDADE"
                    },
                    "Atributos": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "codigo": {
                            "type": "string",
                            "example": "001"
                          },
                          "conteudo": {
                            "type": "string",
                            "example": "Estampado"
                          },
                          "descricao": {
                            "type": "string",
                            "example": "Tipo de tecido"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "descricaoDaMercadoria": {
                "type": "string",
                "example": "PRODUTO GENERICO TESTE - GRADE COMPOSTA 34."
              },
              "quantidadeNaUnidadeEstatistica": {
                "type": "string",
                "example": "1"
              },
              "pesoLiquidoTotal": {
                "type": "string",
                "example": "49"
              },
              "unidadeComercializada": {
                "type": "string",
                "example": "UN"
              },
              "valorDaMercadoriaNaCondicaoDeVenda": {
                "type": "string",
                "example": "3000"
              },
              "valorDaMercadoriaNoLocalDeEmbarque": {
                "type": "string",
                "example": "200,1"
              },
              "valorDaMercadoriaNoLocalDeEmbarqueEmReais": {
                "type": "string",
                "example": "7143.55716"
              },
              "dataDeConversao": {
                "type": "string",
                "example": "2018-05-01T05:57:00.000+0000"
              },
              "importador": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "nome": {
                      "type": "string",
                      "example": "NF-E EMITIDA EM AMBIENTE DE HOMOLOGACAO - SEM VALOR FISCAL"
                    },
                    "endereco": {
                      "type": "string",
                      "example": "RUA ELISA SILVERIO - 45 - CENTRO - EXTERIOR - 86800270 - RUSSIA"
                    },
                    "pais": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "string",
                            "example": "676"
                          },
                          "nome": {
                            "type": "string",
                            "example": "RUSSIA, FEDERACAO DA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "eventosDoHistorico": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "dataEHoraDoEvento": {
                "type": "string",
                "example": "2018-04-27T11:17:58.689+0000"
              },
              "evento": {
                "type": "string",
                "example": "Registro"
              },
              "responsavel": {
                "type": "string",
                "example": "69211221749"
              },
              "informacoesAdicionais": {
                "type": "string",
                "example": "null"
              }
            }
          }
        }
      }
    }
  }
}