{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1",
    "title": "Integra Loja Franca",
    "description": "\n## Endereço de Produção\n    https://apigateway.serpro.gov.br/lojafranca/api/\n    \n## Endereço de Degustação\n    https://apigateway.serpro.gov.br/lojafranca-trial/api/"
  },
  "basePath": "/lojafranca-trial/api",
  "paths": {
    "Descrição": {
      "head": {
        "tags": [
          "1 Introdução"
        ],
        "summary": "Integra Loja Franca",
        "description": "## API ##\n--------------\n<br/> A `API INTEGRA LOJA FRANCA` é disponibilizada através de serviço `HTTP REST`, oferencendo operações para o processo de vendas das Lojas Francas de Fronteira.\n<br/><br/> Destacamos que o sistema foi implementado recentemente para as lojas francas e que adaptações são necessárias aos sistemas proprietários, podendo ocorrer instabilidades pontuais.\n<br/><br/>\n## Autenticação ##\n--------------\n<br/> Para testar a degustação da API, não é necessário realizar autenticação prévia. Porém, para consumo no ambiente produtivo, a autenticação prévia é necessária.\n<br/><br/> Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação no link abaixo.\n<br/><br/> https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf        "
      },
      "responses": {}
    },
    "Formatos e Tipos": {
      "head": {
        "tags": [
          "2 Padrões"
        ],
        "summary": "Formatos e Tipos de Dados",
        "description": "\nOs seguintes tipos de dados são utilizados pela API Integra Loja Franca:\n\n| Tipos | Descrição | Formato\n| ---------------------- | :------------------------------------------------------------- | ------------------ |\n| string        | Cadeia de caracteres |\n| string - data     | String com formato de data  | yyyy-MM-dd\n| string - data/hora | String com formato de data e hora | yyyy-MM-ddTHH:mm:ss\n| integer | Número inteiro que representa códigos e identificadores |\n| number | Número inteiro em situações que pode passar do valor 2^31-1 |\n| decimal | Número fracionado, sempre com duas casas após o decimal, separado por \".\" | Ex: 123456789012.22 (Exceto cotação do dólar, que pode ter até 3 casas após o decimal)."
      },
      "responses": {}
    },
    "Tratamento de Erros": {
      "head": {
        "tags": [
          "2 Padrões"
        ],
        "summary": "Formatos e Tipos de Erros",
        "description": "**Erros de negócio**\n<br/> São erros disparados pela API Integra Loja Franca de Fronteira quando há uma discordância entre os parâmetros enviados e as regras de negócio estabelecidas para as lojas francas. A resposta será:\n\n| Status Code | Descrição\n| --------------------------- | ---------------------------------------------- \n| 422       | Erro de Negócio da Loja Franca \n----------------\n**Atributos da resposta - Status code 422** <br/>\n\n| Nome     | Descrição                    | Tipo\n| -------- | ---------------------------- | -------\n| codigo   | Código que identifica o erro | integer\n| mensagem | Mensagem de Erro             | string\n----------------\n**Erros de formatação**\n<br/> São erros disparados pela API Integra Loja Franca de Fronteira quando há uma discordância na formatação/tipo de dados sugeridos pelos parâmetros enviados. A resposta será:\n\n| Status Code | Descrição\n| --------------------------- | ---------------------------------------------- \n| 400       | Erro de fomatação dos parâmetros enviados \n----------------\n**Atributos da resposta - Status code 422** <br/>\n\n| Nome     | Descrição                    | Tipo\n| -------- | ---------------------------- | -------\n| codigo   | Código que identifica o erro | integer\n| mensagem | Mensagem de Erro             | string\n----------------\nIndependentemente do tipo de erro, as mensagens de erro podem conter uma TAG que visa facilitar o tratamento do erro caso a aplicação que esteja utilizando a API queira fazer algum tratamento específico, como por exemplo, uma extração de parâmetros a partir de uma mensagem de erro.\n\n<br/> Veja `TABELA DE ERROS` mais abaixo."
      },
      "responses": {}
    },
    "Tabela de produtos": {
      "head": {
        "tags": [
          "3 Tabelas"
        ],
        "summary": "Tabela Formato/Tipo Produtos",
        "description": "\n| Código | Descrição \n| ----------- | ---------\n| 1         | Bebida alcoólica\n| 2         | Cigarro\n| 3         | Fumo"
      },
      "responses": {}
    },
    "Tabela de tipos de documento": {
      "head": {
        "tags": [
          "3 Tabelas"
        ],
        "summary": "Tabela Formato/Tipo Documentos",
        "description": "\n| Código | Descrição | Código do País | País \n| ------ | --------- | -------------- | ----\n| 1         | Passaporte | TODOS OS PAÍSES | \n| 2         | Registro de Identidade Civil | 105 | Brasil\n| 3         | Cédula de Identidade AC | 105 | Brasil\n| 4         | Cédula de Identidade AL | 105 | Brasil\n| 5         | Cédula de Identidade AM | 105 | Brasil\n| 6         | Cédula de Identidade AP | 105 | Brasil\n| 7         | Cédula de Identidade BA | 105 | Brasil\n| 8         | Cédula de Identidade CE | 105 | Brasil\n| 9         | Cédula de Identidade DF | 105 | Brasil\n| 10        | Cédula de Identidade ES | 105 | Brasil\n| 11        | Cédula de Identidade GO | 105 | Brasil\n| 12        | Cédula de Identidade MA | 105 | Brasil\n| 13        | Cédula de Identidade MG | 105 | Brasil\n| 14        | Cédula de Identidade MS | 105 | Brasil\n| 15        | Cédula de Identidade MT | 105 | Brasil\n| 16        | Cédula de Identidade PA | 105 | Brasil \n| 17        | Cédula de Identidade PB | 105 | Brasil\n| 18        | Cédula de Identidade PE | 105 | Brasil\n| 19        | Cédula de Identidade PI | 105 | Brasil\n| 20        | Cédula de Identidade PR | 105 | Brasil\n| 21        | Cédula de Identidade RJ | 105 | Brasil\n| 22        | Cédula de Identidade RN | 105 | Brasil\n| 23        | Cédula de Identidade RO | 105 | Brasil\n| 24        | Cédula de Identidade RR | 105 | Brasil\n| 25        | Cédula de Identidade RS | 105 | Brasil\n| 26        | Cédula de Identidade SC | 105 | Brasil\n| 27        | Cédula de Identidade SE | 105 | Brasil\n| 28        | Cédula de Identidade SP | 105 | Brasil\n| 29        | Cédula de Identidade TO | 105 | Brasil\n| 30        | Cédula de Identidade para estrangeiro | 105 | Brasil\n| 31        | Documento Nacional de Identidad | 63 | Argentina \n| 32        | Cédula de Identidad | 586 | Paraguai\n| 33        | Cédula de Identidad | 845 | Uruguai\n| 34        | Cédula de Identidad | 845 | Venezuela\n| 35        | Cédula de Identidad para Nacionales | 97 | Bolívia\n| 36        | Cédula de Identidad para Extranjeros | 97 | Bolívia\n| 37        | Cédula de Identidad | 158 | Chile\n| 38        | Cédula de Ciudadanía | 169 | Colômbia\n| 39        | Tarjeta de Identidad | 169 | Colômbia\n| 40        | Cédula de Extranjería | 169 | Colômbia\n| 41        | Cédula de Ciudadanía | 239 | Equador\n| 42        | Cédula de Identidad para extranjeros | 239 | Equador\n| 43        | Documento Nacional de Identidad | 589 | Peru\n| 44        | Carné de Extranjería | 589 | Peru"
      },
      "responses": {}
    },
    "Tabela de países": {
      "head": {
        "tags": [
          "3 Tabelas"
        ],
        "summary": "Tabela de Países",
        "description": "Ver [tabela de países da Receita Federal do Brasil](http://normas.receita.fazenda.gov.br/sijut2consulta/anexoOutros.action?idArquivoBinario=22672 \"Tabela de países da Receita Federal do Brasil\")"
      }
    },
    "Tabela de erros": {
      "head": {
        "tags": [
          "3 Tabelas"
        ],
        "summary": "Tabela de Erros",
        "description": "\n| Código | Mensagem\n| ------ | --------\n| 1   | Estrutura do JSON de entrada diferente da definição do serviço.\n| 2   | Chave obrigatória {0} sem conteúdo.\n| 3   | {0} com tamanho ou formato diferente da definição do serviço.\n| 4   | Certificado não foi informado, não é de Equipamento e/ou não é válido.\n| 9   | cnpjLoja {0} não existe como Loja.\n| 10  | cnpjLoja diferente do Certificado de Autenticação.\n| 11  | cnpjLoja {0} Suspenso.\n| 12  | cnpjLoja {0} Cancelado.\n| 13  | paisOrigem não localizado na Tabela de Países.\n| 14  | tipoDocumento inválido.\n| 15  | CPF inválido.\n| 16  | Viajante não localizado.\n| 17  | CPF obrigatório para brasileiros (paisOrigem = Brasil).\n| 18  | CPF diferente do CPF vinculado ao documento {0} através de venda no dia {1} .\n| 19  | CPF diferente do CPF vinculado ao documento {0} pela RFB.\n| 20  | dataNascimento e nomeNoDocumento obrigatórios para estrangeiro com CPF não informado.\n| 21  | Documento não pode ser vinculado ao CPF {0} pois desvinculado desse CPF pela RFB.\n| 22  | valorTotalItensImportados ou valorTotalItensNacionais deve ser maior que zero.\n| 23  | valorTotalItensNacionais não pode ser maior que saldo de cota: {0}\n| 24  | valorCotacaoLoja deve ser maior que zero.\n| 25  | produtoControleQuantitativo.codigoProduto {0} não localizado na Tabela de Produtos.\n| 26  | produtoControleQuantitativo.codigoProduto {0} já informado na venda.\n| 27  | produtoControleQuantitativo.quantidade deve ser maior que zero e não superior ao limite de {0} {1} .\n| 28  | produtoControleQuantitativo.valorTotalProdutos deve ser maior que zero.\n| 29  | Venda gera imposto inferior ao limite mínimo (R$ {0} ) para geração de DARF.\n| 30  | Somatório dos produtoControleQuantitativo.valorTotal maior que valorTotalItensImportados + valorTotalItensNacionais.\n| 31  | idVenda não localizado.\n| 32  | {0} DV inválido.\n| 33  | {0} emitida por CNPJ diferente da loja.\n| 34  | {0} já informada em outras operações.\n| 35  | {0} DV inválido.\n| 36  | {0} emitida por CNPJ diferente da loja.\n| 37  | {0} já informada em outras operações.\n| 38  | Venda foi entregue anteriormente.\n| 39  | Venda foi cancelada anteriormente.\n| 40  | Venda foi totalmente devolvida anteriormente.\n| 41  | Venda não foi entregue anteriormente.\n| 42  | produtoControleQuantitativo.codigoProduto {0} não informado na venda.\n| 43  | produtoControleQuantitativo.codigoProduto {0} já informado na devolução.\n| 44  | produtoControleQuantitativo.quantidade deve ser maior que zero e não superior ao saldo da venda.\n| 45  | produtoControleQuantitativo.valorTotal deve ser maior que zero e não superior ao saldo da venda.\n| 46  | valorTotalItensImportados + valorTotalItensNacionais maior que saldo da venda.\n| 52  | Data de nascimento diferente do {0}.\n| 54  | Venda desvinculada do Viajante.\n| 55  | CPF não localizado.\n| 56  | Data sem cotação do dólar.\n| 57  | Situação do CPF inválida.\n| 58  | notaFiscalSaida igual a notaFiscalEntrada\n| 99  | Erro no ambiente {0} . {1} .\n| -99  | Erro na comunicação com algum outro sistema externo que a API do Loja Franca de Fronteira se integra."
      }
    },
    "/viajante/cota": {
      "post": {
        "tags": [
          "4 Métodos de Consultas"
        ],
        "summary": "Consulta de cota",
        "description": "Retorna a cota disponível para um determinado viajante. Para Viajante Brasileiro, a identificação pelo número de documento CPF é sempre obrigatória.\n## Parâmetros de Entrada\n### Parâmetros para Viajante (Brasileiro ou Estrangeiro) com CPF\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n|cpf|CPF do Viajante|string|body|Obrigatório\n|dataNascimento|Data de nascimento do Viajante|string|body|Obrigatório\n### Parâmetros para Viajante Estrangeiro \n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n|documento|Documento apresentado pelo viajante|documento|body|Obrigatório\n|codigoPaisOrigem|Código do pais de origem do Viajante|integer|body|Obrigatório. Ver tabela de países\n|codigoTipo|Código do tipo do documento do Viajante|integer|body|Obrigatório. Ver tabela de tipos de documentos\n|numero|Número do documento do Viajante|string|body|Obrigatório\n|dataNascimento|Data de nascimento do Viajante|stringr|body|Obrigatório\n|nomeNoDocumento|Nome do Viajante no documento apresentado|string|body|Obrigatório\n## Atributos de Resposta\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n|nomeViajante|Nome do viajante cadastrado no Loja Franca|string|\n|dataUltimaVenda|Data da última venda|string|yyyy-MM-ddTHH:mm:ss\n|valorSaldoCota|Valor restante do saldo de cota|decimal|\n|saldoCotaProduto|Saldo de cota de cada produto|saldoCotaProduto|\n|codigoProduto|Código do produto|integer|Ver tabela de produtos\n|quantidade|Quantidade de produtos restantes na cota|integer|",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EntradaCota"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaCota"
            }
          },
          "422": {
            "description": "Erros de Negócio\nCódigos de erros possíveis: 13, 14, 15, 16, 52, 55, 57, 99, -99"
          }
        }
      }
    },
    "/viajante/consulta": {
      "post": {
        "tags": [
          "4 Métodos de Consultas"
        ],
        "summary": "Consulta de viajante",
        "description": "Retorna o nome, a data de nascimento e a data da última venda de um determinado viajante.\n## Parâmetros de Entrada\n### Parâmetros para Viajante Brasileiro com CPF\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n|cpf|CPF do Viajante|string|body|Obrigatório\n### Parâmetros para Viajante Estrangeiro \n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n|documento|Documento apresentado pelo viajante|documento|body|Obrigatório\n|codigoPaisOrigem|Código do pais de origem do Viajante|integer|body|Obrigatório. Ver tabela de países \n|codigoTipo|Código do tipo do documento do Viajante|integer|body|Obrigatório. Ver tabela de tipos de documentos\n|numero|Número do documento do Viajante|string|body|Obrigatório\n## Atributos de Resposta\n|Nome|Descrição|Tipo|Detalhes \n|----|---------|----|--------\n|nomeViajante|Nome do viajante cadastrado no Loja Franca|string|\n|dataNascimento|Data de nascimento do Viajante|string|yyyy-MM-dd\n|dataUltimaVenda|Data da última venda|string|yyyy-MM-ddTHH:mm:ss",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EntradaViajante"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaViajante"
            }
          },
          "422": {
            "description": "Erros de Negócio\nCódigos de erros possíveis: 15, 16, 55, 57, 99"
          }
        }
      }
    },
    "/cotacaoDolar": {
      "get": {
        "tags": [
          "4 Métodos de Consultas"
        ],
        "summary": "Consulta cotação do dólar",
        "description": "Retorna a cotação do dólar de uma determinada data.\n## Parâmetros de Entrada\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n|dataCotacao|Data da cotação a pesquisar|string|query|Obrigatório yyyy-MM-dd\n## Atributos de Resposta\n|Nome|Descrição|Tipo|Detalhes \n|----|---------|----|--------\n|data|Data da cotação retornada|string|yyyy-MM-dd\n|valorOficial|Valor da cotação do dolar na data retornada|decimal|",
        "parameters": [
          {
            "in": "query",
            "name": "dataCotacao",
            "type": "string",
            "description": "Data da cotação",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaCotacao"
            }
          },
          "422": {
            "description": "Erro de Negócio\nCódigos de erros possíveis: 56"
          }
        }
      }
    },
    "/venda": {
      "post": {
        "summary": "Processa venda de viajante",
        "tags": [
          "5 Métodos de Venda"
        ],
        "description": "Efetua uma operação de processamento de venda. Para Viajante Brasileiro, a identificação pelo número de documento de CPF é sempre obrigatória. A identificação por documento é sempre obrigatória independentemente se o Viajante for Brasileiro ou Estrangeiro.\n## Parâmetros de Entrada\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n|valorTotalItensImportados|Valor total (em US$) de itens importados na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensNacionais não for informado ou for igual a 0\n|valorTotalItensNacionais|Valor total (em US$) de itens nacionais na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensImportados não for informado ou for igual a 0\n|valorCotacaoLoja|Valor da cotação do dólar oferecido pela Loja Franca|decimal|body|Obrigatório\n|viajanteParametro|Identificação do viajante|viajante|body|Obrigatório. Formato segue os parâmetros da Consulta de Viajante. Documento é obrigatório para brasileiros na venda (atributos codigoPaisOrigems, codigoTipo e numero)\n|produtosControleQuantitativo|Representa a quantidade de produtos controlados presentes na venda do viajante|produtos|body|Obrigatório quando é registrada uma venda com produtos controlados.\n|codigoProduto|Código do produto|Integer|body|Obrigatório quando é registrada uma venda com produtos controlados. Ver tabela de produtos.\n|quantidade| Quantidade de produtos controlados na venda|integer|body|Obrigatório quando é registrada uma venda com produtos controlados\n|valorTotal|Valor total destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma venda com produtos controlados\n## Atributos de Resposta\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n|idVenda|Número da venda|string|\n|dataHoraVenda|Data do registro da venda|string|yyyy-MM-ddTHH:mm:ss\n|darf|Darf gerado caso a venda exceda a cota|darf|\n|numero|Número do Darf|number|\n|valor|Valor do Darf|decimal|\n|dataVencimento|Data de vencimento do Darf|string|yyyy-MM-dd\n|codigoReceita|Código da receita recolhida|integer|\n|pdf|PDF do boleto do Darf|byte|String encoded em base-64\n## Tipos de Viajantes\n### Viajante Brasileiro (sem produtos controlados)\nEste tipo está descrito no body abaixo.\n<br/> \n### Viajante Estrangeiro (sem produtos controlados)\n{\n\"valorTotalItensImportados\": 10,\n\"valorTotalItensNacionais\": 0,\n\"valorCotacaoLoja\": 3.24,\n\"viajanteParametro\": {\n  \"documento\": {\n    \"codigoPaisOrigem\": 1,\n    \"codigoTipo\": 1,\n    \"numero\": \"12345\"\n    \"dataNascimento\": \"1980-01-15\"\n    \"nomeNoDocumento\": \"Fulano de Tal\"\n    }}}\n### Viajante Brasileiro (com produtos controlados)\n{\n\"valorTotalItensImportados\": 10,\n\"valorTotalItensNacionais\": 0,\n\"valorCotacaoLoja\": 3.24,\n\"viajanteParametro\": {\n  \"cpf\": \"00000000191\",\n  \"documento\": {\n    \"codigoPaisOrigem\": 105,\n    \"codigoTipo\": 1,\n    \"numero\": \"12345\"\n  }},\n\"produtosControleQuantitativo\": [{\n  \"codigoProduto\": 10,\n  \"quantidade\": 2,\n  \"valorTotal\": 5.3\n  }, {\n  \"codigoProduto\": 1,\n  \"quantidade\": 1,\n  \"valorTotal\": 4.7\n  }]}\n## Tipos de Saída \n### Sem o DARF\nidVenda: '2017000000020992652'\ndataHoraVenda: '2017-12-11T17:27:41'\n### Com o DARF\nEste tipo está descrito no response abaixo.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EntradaVenda"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaVenda"
            }
          },
          "422": {
            "description": "Erros de Negócio\nCódigos de erros possíveis: 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 55, 56, 57"
          }
        }
      }
    },
    "/venda/entrega": {
      "put": {
        "summary": "Entrega venda para viajante",
        "tags": [
          "5 Métodos de Venda"
        ],
        "description": "Efetua a operação de entrega de venda\n## Parâmetros de Entrada\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n|idVenda|Identificação do número da venda gerada pelo sistema Loja Franca de Fronteira na operação Processa venda de viajante|string|query|Obrigatório\n|notaFiscalSaida|Número da NF de saída gerada pelo sistema gerador de NF|string|query|Obrigatório\n## Atributos de Resposta\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n|dataHoraEntrega|Data e hora da entrega da venda|string|yyyy-MM-ddTHH:mm:ss",
        "parameters": [
          {
            "in": "query",
            "name": "idVenda",
            "type": "string",
            "description": "Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira, na operação 'Processa venda de viajante'",
            "required": true
          },
          {
            "in": "query",
            "name": "notaFiscalSaida",
            "type": "string",
            "description": "Número da Nota Fiscal de saída gerado pelo sistema gerados de nota fiscal",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaEntregaVenda"
            }
          },
          "422": {
            "description": "Erro de Negócio\nCódigos de erros possíveis: 31, 32, 33, 34, 39, 41, 54"
          }
        }
      }
    },
    "/venda/cancelamento": {
      "put": {
        "summary": "Cancela venda de viajante",
        "tags": [
          "5 Métodos de Venda"
        ],
        "description": "Efetua uma operação de cancelamento de venda\n## Parâmetros de Entrada\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n|idVenda|Identificação do número da venda gerada pelo sistema Loja Franca de Fronteira na operação Processa venda de viajante|string|query|Obrigatório\n## Atributos de Resposta\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n|dataHoraCancelamento|Data e hora do cancelamento da venda|string|yyyy-MM-ddTHH:mm:ss",
        "parameters": [
          {
            "in": "query",
            "name": "idVenda",
            "type": "string",
            "description": "Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira, na operação 'Processa venda de viajante'",
            "required": true
          },
          {
            "in": "query",
            "name": "notaFiscalSaida",
            "type": "string",
            "description": "Número da Nota Fiscal de saída gerado pelo sistema de nota fiscal",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaCancelaVenda"
            }
          },
          "422": {
            "description": "Erro de Negócio\nCódigos de erros possíveis: 31, 38, 39, 54"
          }
        }
      }
    },
    "/venda/devolucaoParcial": {
      "post": {
        "summary": "Devolução parcial de venda",
        "tags": [
          "6 Métodos Devolucao e Troca"
        ],
        "description": "Efetua uma operação de devolução parcial de venda\n## Parâmetros de Entrada\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n|valorTotalItensImportados|Valor total (em US$) de itens importados na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensNacionais não for informado ou for igual a 0\n|valorTotalItensNacionais|Valor total (em US$) de itens nacionais na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensImportados não for informado ou for igual a 0\n|produtosControleQuantitativo|Representa a quantidade de produtos controlados presentes na venda do viajante|produtos|body|Formato segue os parâmetros do Processa venda de viajante\n|codigoProduto|Código do produto|integer|body|Obrigatório quando é registrada uma venda com produtos controlados. Veja Tabela de Produtos\n|quantidade| Quantidade de produtos controlados na venda|integer|body|Obrigatório quando é registrada uma venda com produtos controlados\n|valorTotal|Valor total destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma venda com produtos controlados\n|venda|Representa a Venda a ser devolvida|venda|body|Obrigatório\n|id|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira na operação Processa Venda de Viajante|string|body|obrigatório\n|notaFiscalEntrada|Número da Nota Fiscal de entrada gerada pelo sistema gerador de nota fiscal|string|body|obrigatorio\n## Atributos de Resposta\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n|dataHoraDevolucaoParcial|Data e hora da devolução parcial|string|yyyy-MM-ddTHH:mm:ss\n## Tipos de Devolução Parcial de Venda\n### Devolução Parcial sem Produtos Controlados \n {\n\"valorTotalItensImportados\": 9.95,\n\"valorTotalItensNacionais\": 0,\n\"venda\": {\n\"id\": \"2017000000020992652\",\n\"numeroNotaFiscalEntrada\": \"42100484684182000157550010000000020108042108\"\n}}  \n### Devolução Parcial com Produtos Controlados\nEste tipo está descrito no body abaixo.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EntradaDevolucaoParcial"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaDevolucaoParcial"
            }
          },
          "422": {
            "description": "Erro de Negócio\nCódigos de erros possíveis: 31, 32, 33, 34, 39, 40, 41, 42, 43, 44, 45, 46, 54, 58 "
          }
        }
      }
    },
    "/venda/devolucaoTotal": {
      "put": {
        "summary": "Devolução total de venda",
        "tags": [
          "6 Métodos Devolucao e Troca"
        ],
        "description": "Efetua uma operação de devolução total de venda\n## Parâmetros de Entrada\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n|idVenda|Número da venda gerada pelo sistema Loja Franca|string|query|Obrigatório\n|notaFiscalSaida|Número da NF de saída gerada pelo sistema gerador de NF|string|query|Obrigatório\n## Atributos de Resposta\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n|dataHoraDevolucaoTotal|Data e hora da devolucao total|string|yyyy-MM-ddTHH:mm:ss",
        "parameters": [
          {
            "in": "query",
            "name": "idVenda",
            "type": "string",
            "description": "Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira, na operação 'Processa venda de viajante'",
            "required": true
          },
          {
            "in": "query",
            "name": "notaFiscalSaida",
            "type": "string",
            "description": "Número da Nota Fiscal de saída gerado pelo sistema gerador de nota fiscal",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaDevolucaoTotal"
            }
          },
          "422": {
            "description": "Erro de Negócio\nCódigos de erros possíveis: 31, 32, 33, 34, 39, 40, 41, 54, 58"
          }
        }
      }
    },
    "/venda/trocaItemIdentico": {
      "post": {
        "summary": "Troca Item Idêntico de Vendas",
        "tags": [
          "6 Métodos Devolucao e Troca"
        ],
        "description": "Efetua uma operação de troca de itens idênticos de venda\n## Parâmetros de Entrada\n|Nome|Descrição|Tipo|Local|Detalhes\n|----|---------|----|-----|--------\n|valorTotalItensImportados|Valor total (em US$) de itens importados na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensNacionais não for informado ou for igual a 0\n|valorTotalItensNacionais|Valor total (em US$) de itens nacionais na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensImportados não for informado ou for igual a 0\n|produtosControleQuantitativo|Representa a quantidade de produtos controlados presentes na venda do viajante|produtos|body|Formato segue os parâmetros do Processa venda de viajante\n|codigoProduto|Código do produto|integer|body|Obrigatório quando é registrada uma venda com produtos controlados. Veja Tabela de Produtos\n|quantidade| Quantidade de produtos controlados na venda|integer|body|Obrigatório quando é registrada uma venda com produtos controlados\n|valorTotal|Valor total destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma venda com produtos controlados\n|venda|Representa a Venda a ser devolvida|venda|body|Obrigatório\n|id|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira na operação Processa Venda de Viajante|string|body|obrigatório\n|notaFiscalEntrada|Número da Nota Fiscal de entrada gerada pelo sistema gerador de nota fiscal|string|body|obrigatorio\n## Atributos de Resposta\n|Nome|Descrição|Tipo|Detalhes\n|----|---------|----|--------\n|dataHoraTrocaItemIdentico|Data e hora da troca|string|yyyy-MM-ddTHH:mm:ss\n## Tipos de Troca de Itens Idênticos\n### Troca de Itens Idênticos sem Produtos Controlados \n {\n\"valorTotalItensImportados\": 9.95,\n\"valorTotalItensNacionais\": 0,\n\"venda\": {\n\"id\": \"2017000000020992652\",\n\"numeroNotaFiscalEntrada\": \"42100484684182000157550010000000020108042108\"\n}}  \n### Troca de Itens Idênticos com Produtos Controlados\nEste tipo está descrito no body abaixo.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EntradaTrocaItemIdentico"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaTrocaItemIdentico"
            }
          },
          "422": {
            "description": "Erro de Negócio\nCódigos de erros possíveis: 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 54, 58"
          }
        }
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "EntradaCota": {
      "type": "object",
      "properties": {
        "cpf": {
          "type": "string",
          "description": "CPF do Viajante",
          "example": "00000000191"
        },
        "dataNascimento": {
          "type": "string",
          "description": "Data de Nascimento do Viajante",
          "example": "1981-12-15"
        }
      }
    },
    "SaidaCota": {
      "type": "object",
      "properties": {
        "nomeViajante": {
          "type": "string",
          "description": "Nome do Viajante",
          "example": "FULANO DE TAL"
        },
        "dataUltimaVenda": {
          "type": "string",
          "description": "Data da última venda para o viajante",
          "example": "2017-12-08T17:13:55"
        },
        "valorSaldoCota": {
          "type": "number",
          "description": "Saldo da cota do viajante",
          "example": 300
        },
        "saldoCotaProduto": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "codigoProduto": {
                "type": "integer",
                "example": "1"
              },
              "quantidade": {
                "type": "integer",
                "example": "15"
              }
            }
          }
        }
      }
    },
    "EntradaViajante": {
      "type": "object",
      "properties": {
        "documento": {
          "type": "string",
          "description": "Documento apresentado pelo Viajante",
          "example": "00000000191"
        },
        "codigoPaisOrigem": {
          "type": "string",
          "description": "Código do país de origem",
          "example": "45"
        },
        "codigoTipo": {
          "type": "string",
          "description": "Código do tipo de documento apresentado pelo viajante",
          "example": "10"
        },
        "numero": {
          "type": "string",
          "description": "Número de identificação do documento apresentado pelo Viajante",
          "example": "12345"
        }
      }
    },
    "SaidaViajante": {
      "type": "object",
      "properties": {
        "nomeViajante": {
          "type": "string",
          "example": "FULANO DE TAL"
        },
        "dataultimaVenda": {
          "type": "string",
          "example": "2017-12-08T17:13:55.765Z"
        },
        "dataNascimento": {
          "type": "string",
          "example": "1970-01-01"
        }
      }
    },
    "SaidaCotacao": {
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "example": "2017-12-01"
        },
        "valorOficial": {
          "type": "number",
          "example": "3.1241"
        }
      }
    },
    "SaidaEntregaVenda": {
      "type": "object",
      "properties": {
        "dataHoraEntrega": {
          "type": "string",
          "example": "2017-12-01T16:32:17"
        }
      }
    },
    "EntradaVenda": {
      "type": "object",
      "properties": {
        "valorTotalItensImportados": {
          "type": "string",
          "description": "Valor total (em US$) de itens importados na Venda para o Viajante",
          "example": "20"
        },
        "valorTotalItensNacionais": {
          "type": "string",
          "description": "Valor total (em US$) de intens nacionais na Venda para o Viajante",
          "example": "50"
        },
        "valorCotacaoLoja": {
          "type": "string",
          "description": "Valor da cotação do dólar oferecido pela loja franca",
          "example": "3.47"
        },
        "viajanteParametro": {
          "properties": {
            "cpf": {
              "type": "string",
              "description": "Número do CPF do Viajante",
              "example": "45786512355"
            },
            "documento": {
              "properties": {
                "codigoPaisOrigem": {
                  "type": "string",
                  "description": "Código do pais do Viajante",
                  "example": "105"
                },
                "codigoTipo": {
                  "type": "string",
                  "description": "Tipo do código",
                  "example": "1"
                },
                "numero": {
                  "type": "string",
                  "description": "Número do documento",
                  "example": "12345"
                }
              }
            }
          }
        }
      }
    },
    "SaidaVenda": {
      "type": "object",
      "properties": {
        "dataHoraEntrega": {
          "type": "string",
          "example": {
            "idVenda": "2017000000020992653",
            "dataHoraVenda": "2017-12-11T17:27:41",
            "darf": {
              "valor": 31.24,
              "codigoReceita": 1258,
              "numero": 7011734500514907,
              "dataVencimento": "2017-12-12",
              "pdf": "Base64EncodedString"
            }
          }
        }
      }
    },
    "SaidaCancelaVenda": {
      "type": "object",
      "properties": {
        "dataHoraCancelamento": {
          "type": "string",
          "example": "2017-12-01T16:32:17"
        }
      }
    },
    "EntradaDevolucaoParcial": {
      "type": "object",
      "properties": {
        "valorTotalItensImportados": {
          "type": "string",
          "description": "Valor total (em US$) de itens importados a devolver",
          "example": "9.95"
        },
        "valorTotalItensNacionais": {
          "type": "string",
          "description": "Valor total (em US$) de itens nacionais a devolver",
          "example": "14.15"
        },
        "produtosControleQuantitativo": {
          "properties": {
            "codigoProduto": {
              "type": "string",
              "description": "Código do produto",
              "example": "10"
            },
            "quantidade": {
              "type": "string",
              "description": "Quantidade de produtos controlados presente na Venda",
              "example": "45"
            },
            "valorTotal": {
              "type": "string",
              "description": "Valor total destes produtos na Venda",
              "example": "2.68"
            }
          }
        },
        "venda": {
          "properties": {
            "id": {
              "type": "string",
              "description": "Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira na operação Processa Venda de Viajante",
              "example": "2017000000020992652"
            },
            "notaFiscalEntrada": {
              "type": "string",
              "description": "Número da Nota Fiscal de Entrada gerado pelo sistema Gerador de Nota Fiscal",
              "example": "42100484684182000157550010000000020108042108"
            }
          }
        }
      }
    },
    "SaidaDevolucaoParcial": {
      "type": "object",
      "properties": {
        "dataHoraDevolucaoParcial": {
          "type": "string",
          "description": "Data e hora da devolução",
          "example": "2017-12-11T17:27:41"
        }
      }
    },
    "SaidaDevolucaoTotal": {
      "type": "object",
      "properties": {
        "dataHoraDevolucaoTotal": {
          "type": "string",
          "description": "Data e hora da devolução",
          "example": "2017-12-11T17:27:41"
        }
      }
    },
    "EntradaTrocaItemIdentico": {
      "type": "object",
      "properties": {
        "valorTotalItensImportados": {
          "type": "string",
          "description": "Valor total (em US$) de itens importados a serem trocados",
          "example": "9.95"
        },
        "valorTotalItensNacionais": {
          "type": "string",
          "description": "Valor total (em US$) de itens nacionais a serem trocados",
          "example": "14.15"
        },
        "produtosControleQuantitativo": {
          "properties": {
            "codigoProduto": {
              "type": "string",
              "description": "Código do produto",
              "example": "10"
            },
            "quantidade": {
              "type": "string",
              "description": "Quantidade de produtos controlados presente na Venda",
              "example": "45"
            },
            "valorTotal": {
              "type": "string",
              "description": "Valor total destes produtos na Venda",
              "example": "2.68"
            }
          }
        },
        "venda": {
          "properties": {
            "id": {
              "type": "string",
              "description": "Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira na operação Processa Venda de Viajante",
              "example": "2017000000020992652"
            },
            "notaFiscalEntrada": {
              "type": "string",
              "description": "Número da Nota Fiscal de Entrada gerado pelo sistema Gerador de Nota Fiscal",
              "example": "42100484684182000157550010000000020108042108"
            }
          }
        }
      }
    },
    "SaidaTrocaItemIdentico": {
      "type": "object",
      "properties": {
        "dataHoraTrocaItemIdentico": {
          "type": "string",
          "description": "Data e hora da troca",
          "example": "2017-12-11T17:27:41"
        }
      }
    }
  }
}
