{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "tags": [
    {
      "name": "1 Introdução"
    },
    {
      "name": "2 Padrões"
    },
    {
      "name": "3 Tabelas"
    },
    {
      "name": "4 Métodos e Testes Consultas"
    },
    {
      "name": "4 Métodos e Testes Venda"
    },
    {
      "name": "4 Métodos e Testes Devolução/Troca"
    }
  ],
  "info": {
    "version": "1",
    "title": "API Loja Franca"
  },
  "basePath": "/loja-franca-trial/api/",
  "paths": {
    "Descrição": {
      "head": {
        "tags": [
          "1 Introdução"
        ],
        "summary": "API Loja Franca",
        "description": "A `API Loja Franca` é disponibilizada através de serviço `HTTP REST`, oferencendo operações para o processo de vendas das Lojas Francas de Fronteira.\n<br/> Destacamos que o sistema foi implementado recentemente para as lojas francas prepararem as adaptações necessárias aos seus sistemas próprios, podendo ainda ocorrer instabilidades pontuais.\n### Autenticação\nPara testar a degustação da API, não é necessário realizar autenticação prévia. Porém, para consumo no ambiente produtivo, a autenticação prévia é necessária.\n<br/> Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf        "
      },
      "responses": {}
    },
    "Formatos e Tipos": {
      "head": {
        "tags": [
          "2 Padrões"
        ],
        "summary": "Formatos e Tipos",
        "description": "\nOs seguintes tipos de dados são utilizados pela API Loja Franca:\n\n| Tipos | Descrição | Formato\n| ---------------------- | :------------------------------------------------------------- | ------------------ |\n| string        | Cadeia de caracteres |\n| string - data     | String com formato de data  | yyyy-MM-dd\n| string - data/hora | String com formato de data e hora | yyyy-MM-ddTHH:mm:ss\n| integer | Número inteiro que representa códigos e identificadores |\n| number | Número inteiro em situações que pode passar do valor 2^31-1 |\n| decimal | Número fracionado, sempre com duas casas após o decimal, separado por \".\" | Ex: 123456789012.22 (Exceto cotação do dólar, que pode ter até 3 casas após o decimal).\n\n --------------------------"
      },
      "responses": {}
    },
    "Tratamento de Erros": {
      "head": {
        "tags": [
          "2 Padrões"
        ],
        "summary": "Formatos e Tipos",
        "description": "\n**Erros de negócio:**\n<br/> São erros disparados pela API do Loja Franca de Fronteira quando há uma discordância entre os parâmetros enviados e as regras de negócio estabelecidas para as lojas francas.\nA resposta HTTP será:\n| Status Code | Descrição \n| ----------- | ---------\n| 422         | Erro de Negócio do Loja Franca\n<br/> **Atributos da resposta - Status code 422**\n<br/>\n| Nome | Descrição | Tipo \n| ----------- | --------- | -----\n| codigo      | Código que identifica o erro | integer\n| mensagem    | Mensagem de Erro | string\n<br/> **Erros de formatação**\n<br/> São erros disparados pela API do Loja Franca de Fronteira quando há uma discordância na formatação/tipo de dados sugeridos pelos parâmetros enviados.\n<br/> A resposta HTTP será:\n| Status Code | Descrição \n| ----------- | ---------\n| 400         | Erro de formatação dos parâmetros enviados\n<br/> **Atributos da resposta - Status code 400**\n<br/>\n| Nome | Descrição | Tipo \n| ----------- | --------- | -----\n| codigo      | Código que identifica o erro | integer\n| mensagem    | Mensagem de Erro | string        \n<br/> Independentemente do tipo de erro, as mensagens de erro podem conter uma <tag>, que visa facilitar o tratamento do erro caso a aplicação que esteja utilizando a API do Loja Franca de Fronteira queira fazer algum tratamento específico, como por exemplo, uma extração de parâmetros a partir de uma mensagem de erro.\n<br/> Os erros que a API do Loja Franca de Fronteira dispara podem ser consultados na tabela de erros, mais abaixo."
      },
      "responses": {}
    },
    "Tabela de produtos": {
      "head": {
        "tags": [
          "3 Tabelas"
        ],
        "summary": "Formatos e Tipos",
        "description": "\n| Código | Descrição \n| ----------- | ---------\n| 1         | Bebida alcoólica\n| 2         | Cigarro\n| 3         | Fumo"
      },
      "responses": {}
    },
    "Tabela de tipos de documento": {
      "head": {
        "tags": [
          "3 Tabelas"
        ],
        "summary": "Formatos e Tipos",
        "description": "\n| Código | Descrição | Código do País | País \n| ------ | --------- | -------------- | ----\n| 1         | Passaporte | TODOS OS PAÍSES | \n| 2         | Registro de Identidade Civil | 105 | Brasil\n| 3         | Cédula de Identidade AC | 105 | Brasil\n| 4         | Cédula de Identidade AL | 105 | Brasil\n| 5         | Cédula de Identidade AM | 105 | Brasil\n| 6         | Cédula de Identidade AP | 105 | Brasil\n| 7         | Cédula de Identidade BA | 105 | Brasil\n| 8         | Cédula de Identidade CE | 105 | Brasil\n| 9         | Cédula de Identidade DF | 105 | Brasil\n| 10        | Cédula de Identidade ES | 105 | Brasil\n| 11        | Cédula de Identidade GO | 105 | Brasil\n| 12        | Cédula de Identidade MA | 105 | Brasil\n| 13        | Cédula de Identidade MG | 105 | Brasil\n| 14        | Cédula de Identidade MS | 105 | Brasil\n| 15        | Cédula de Identidade MT | 105 | Brasil\n| 16        | Cédula de Identidade PA | 105 | Brasil \n| 17        | Cédula de Identidade PB | 105 | Brasil\n| 18        | Cédula de Identidade PE | 105 | Brasil\n| 19        | Cédula de Identidade PI | 105 | Brasil\n| 20        | Cédula de Identidade PR | 105 | Brasil\n| 21        | Cédula de Identidade RJ | 105 | Brasil\n| 22        | Cédula de Identidade RN | 105 | Brasil\n| 23        | Cédula de Identidade RO | 105 | Brasil\n| 24        | Cédula de Identidade RR | 105 | Brasil\n| 25        | Cédula de Identidade RS | 105 | Brasil\n| 26        | Cédula de Identidade SC | 105 | Brasil\n| 27        | Cédula de Identidade SE | 105 | Brasil\n| 28        | Cédula de Identidade SP | 105 | Brasil\n| 29        | Cédula de Identidade TO | 105 | Brasil\n| 30        | Cédula de Identidade para estrangeiro | 105 | Brasil\n| 31        | Documento Nacional de Identidad | 63 | Argentina \n| 32        | Cédula de Identidad | 586 | Paraguai\n| 33        | Cédula de Identidad | 845 | Uruguai\n| 34        | Cédula de Identidad | 845 | Venezuela\n| 35        | Cédula de Identidad para Nacionales | 97 | Bolívia\n| 36        | Cédula de Identidad para Extranjeros | 97 | Bolívia\n| 37        | Cédula de Identidad | 158 | Chile\n| 38        | Cédula de Ciudadanía | 169 | Colômbia\n| 39        | Tarjeta de Identidad | 169 | Colômbia\n| 40        | Cédula de Extranjería | 169 | Colômbia\n| 41        | Cédula de Ciudadanía | 239 | Equador\n| 42        | Cédula de Identidad para extranjeros | 239 | Equador\n| 43        | Documento Nacional de Identidad | 589 | Peru\n| 44        | Carné de Extranjería | 589 | Peru"
      },
      "responses": {}
    },
    "Tabela de países": {
      "head": {
        "tags": [
          "3 Tabelas"
        ],
        "summary": "Tabela de países",
        "description": "Ver [tabela de países da Receita Federal do Brasil](http://normas.receita.fazenda.gov.br/sijut2consulta/anexoOutros.action?idArquivoBinario=22672 \"Tabela de países da Receita Federal do Brasil\")"
      }
    },
    "Tabela de erros": {
      "head": {
        "tags": [
          "3 Tabelas"
        ],
        "summary": "Tabela de Erros",
        "description": "\n| Código | Mensagem\n| ------ | --------\n| 1   | Estrutura do JSON de entrada diferente da definição do serviço.\n| 2   | Chave obrigatória {0} sem conteúdo.\n| 3   | {0} com tamanho ou formato diferente da definição do serviço.\n| 4   | Certificado não foi informado, não é de Equipamento e/ou não é válido.\n| 9   | cnpjLoja {0} não existe como Loja.\n| 10  | cnpjLoja diferente do Certificado de Autenticação.\n| 11  | cnpjLoja {0} Suspenso.\n| 12  | cnpjLoja {0} Cancelado.\n| 13  | paisOrigem não localizado na Tabela de Países.\n| 14  | tipoDocumento inválido.\n| 15  | CPF inválido.\n| 16  | Viajante não localizado.\n| 17  | CPF obrigatório para brasileiros (paisOrigem = Brasil).\n| 18  | CPF diferente do CPF vinculado ao documento {0} através de venda no dia {1} .\n| 19  | CPF diferente do CPF vinculado ao documento {0} pela RFB.\n| 20  | dataNascimento e nomeNoDocumento obrigatórios para estrangeiro com CPF não informado.\n| 21  | Documento não pode ser vinculado ao CPF {0} pois desvinculado desse CPF pela RFB.\n| 22  | valorTotalItensImportados ou valorTotalItensNacionais deve ser maior que zero.\n| 23  | valorTotalItensNacionais não pode ser maior que saldo de cota: {0}\n| 24  | valorCotacaoLoja deve ser maior que zero.\n| 25  | produtoControleQuantitativo.codigoProduto {0} não localizado na Tabela de Produtos.\n| 26  | produtoControleQuantitativo.codigoProduto {0} já informado na venda.\n| 27  | produtoControleQuantitativo.quantidade deve ser maior que zero e não superior ao limite de {0} {1} .\n| 28  | produtoControleQuantitativo.valorTotalProdutos deve ser maior que zero.\n| 29  | Venda gera imposto inferior ao limite mínimo (R$ {0} ) para geração de DARF.\n| 30  | Somatório dos produtoControleQuantitativo.valorTotal maior que valorTotalItensImportados + valorTotalItensNacionais.\n| 31  | idVenda não localizado.\n| 32  | {0} DV inválido.\n| 33  | {0} emitida por CNPJ diferente da loja.\n| 34  | {0} já informada em outras operações.\n| 35  | {0} DV inválido.\n| 36  | {0} emitida por CNPJ diferente da loja.\n| 37  | {0} já informada em outras operações.\n| 38  | Venda foi entregue anteriormente.\n| 39  | Venda foi cancelada anteriormente.\n| 40  | Venda foi totalmente devolvida anteriormente.\n| 41  | Venda não foi entregue anteriormente.\n| 42  | produtoControleQuantitativo.codigoProduto {0} não informado na venda.\n| 43  | produtoControleQuantitativo.codigoProduto {0} já informado na devolução.\n| 44  | produtoControleQuantitativo.quantidade deve ser maior que zero e não superior ao saldo da venda.\n| 45  | produtoControleQuantitativo.valorTotal deve ser maior que zero e não superior ao saldo da venda.\n| 46  | valorTotalItensImportados + valorTotalItensNacionais maior que saldo da venda.\n| 52  | Data de nascimento diferente do {0}.\n| 54  | Venda desvinculada do Viajante.\n| 55  | CPF não localizado.\n| 56  | Data sem cotação do dólar.\n| 57  | Situação do CPF inválida.\n| 58  | notaFiscalSaida igual a notaFiscalEntrada\n| 99  | Erro no ambiente {0} . {1} .\n| -99  | Erro na comunicação com algum outro sistema externo que a API do Loja Franca de Fronteira se integra."
      }
    },
    "/viajante/cota": {
      "post": {
        "tags": [
          "4 Métodos e Testes Consultas"
        ],
        "summary": "Consulta de cota",
        "description": "Retorna a cota disponível para um determinado viajante\n<br/> OBS: Para Viajante Brasileiro, a identificação pelo número de documento CPF é **sempre obrigatória**",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EntradaCota"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaCota"
            }
          },
          "422": {
            "description": "Erro de Negócio"
          }
        }
      }
    },
    "/viajante/consulta": {
      "post": {
        "tags": [
          "4 Métodos e Testes Consultas"
        ],
        "summary": "Consulta de viajante",
        "description": "Retorna o nome, a data de nascimento e a data da última venda de um determinado viajante.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaViajante"
            }
          },
          "422": {
            "description": "Erro de Negócio"
          }
        }
      }
    },
    "/cotacaoDolar": {
      "get": {
        "tags": [
          "4 Métodos e Testes Consultas"
        ],
        "summary": "Consulta cotação do dólar",
        "description": "Retorna a cotação do dólar de uma determinada data.",
        "parameters": [
          {
            "in": "query",
            "name": "dataCotacao",
            "type": "string",
            "description": "Data da cotação",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaCotacao"
            }
          },
          "422": {
            "description": "Erro de Negócio"
          }
        }
      }
    },
    "/venda": {
      "post": {
        "summary": "Processa venda de viajante",
        "tags": [
          "4 Métodos e Testes Venda"
        ],
        "description": "Efetua uma operação de processamento de venda.\n<br/> OBS.: Para Viajante Brasileiro, a identificação pelo número de documento de CPF é **sempre obrigatória**. A identificação por documento é **sempre obrigatória** independentemente se o Viajante for Brasileiro ou Estrangeiro."
      }
    },
    "/venda/entrega": {
      "put": {
        "summary": "Entrega venda para viajante",
        "tags": [
          "4 Métodos e Testes Venda"
        ],
        "description": "Efetua a operação de entrega de venda",
        "parameters": [
          {
            "in": "query",
            "name": "idVenda",
            "type": "string",
            "description": "Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira, na operação 'Processa venda de viajante'",
            "required": true
          },
          {
            "in": "query",
            "name": "notaFiscalSaida",
            "type": "string",
            "description": "Número da Nota Fiscal de saída gerado pelo sistema gerados de nota fiscal",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaidaEntregaVenda"
            }
          },
          "422": {
            "description": "Erro de Negócio\nCódigos de erros possíveis: 31, 32, 33, 34, 39, 41, 54."
          }
        }
      }
    },
    "/venda/cancelamento?idVenda={idVenda}": {
      "put": {
        "summary": "Cancela venda de viajante",
        "tags": [
          "4 Métodos e Testes Venda"
        ],
        "description": "Efetua uma operação de cancelamento de venda"
      }
    },
    "/venda/devolucaoParcial": {
      "post": {
        "summary": "Devolução parcial de venda",
        "tags": [
          "4 Métodos e Testes Devolução/Troca"
        ],
        "description": "Efetua uma operação de devolução parcial de venda"
      }
    },
    "/venda/devolucaoTotal?idVenda={idVenda}&notaFiscalEntrada={notaFiscalEntrada}": {
      "put": {
        "summary": "Devolução total de venda",
        "tags": [
          "4 Métodos e Testes Devolução/Troca"
        ],
        "description": "Efetua uma operação de devolução total de venda"
      }
    }
  },
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "definitions": {
    "EntradaCota": {
      "type": "object",
      "properties": {
        "cpf": {
          "type": "string",
          "description": "CPF do Viajante",
          "example": "00000000191"
        },
        "dataNascimento": {
          "type": "string",
          "description": "Data de Nascimento do Viajante",
          "example": "1981-12-15"
        }
      }
    },
    "SaidaCota": {
      "type": "object",
      "properties": {
        "nomeViajante": {
          "type": "string",
          "description": "Nome do Viajante",
          "example": "FULANO DE TAL"
        },
        "dataUltimaVenda": {
          "type": "string",
          "description": "Data da última venda para o viajante",
          "example": "2017-12-08T17:13:55"
        },
        "valorSaldoCota": {
          "type": "number",
          "description": "Saldo da cota do viajante",
          "example": 300
        },
        "saldoCotaProduto": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "codigoProduto": {
                "type": "integer",
                "example": 1
              },
              "quantidade": {
                "type": "integer",
                "example": 10
              }
            }
          }
        }
      }
    },
    "SaidaViajante": {
      "type": "object",
      "properties": {
        "nomeViajante": {
          "type": "string",
          "example": "FULANO DE TAL"
        },
        "dataultimaVenda": {
          "type": "string",
          "example": "2017-12-08T17:13:55.765Z"
        },
        "dataNascimento": {
          "type": "string",
          "example": "1970-01-01"
        }
      }
    },
    "SaidaCotacao": {
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "example": "2017-12-01"
        },
        "valorOficial": {
          "type": "number",
          "example": 3.1241
        }
      }
    },
    "SaidaEntregaVenda": {
      "type": "object",
      "properties": {
        "dataHoraEntrega": {
          "type": "string",
          "example": "2017-12-01T16:32:17"
        }
      }
    }
  }
}