host: apigateway.serpro.gov.br
security:
  - Bearer: []
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
swagger: '2.0'
tags:
  - name: 1 Introdução
  - name: 2 Padrões
  - name: 3 Tabelas
  - name: 4 Métodos e Testes Consultas
  - name: 4 Métodos e Testes Venda
  - name: 4 Métodos e Testes Devolução/Troca
info:
  version: '1'
  title: API Loja Franca
basePath: /loja-franca-trial/api/
paths: 
  Descrição:
    head:
      tags:
        - 1 Introdução
      summary: API Loja Franca
      description: |-
        A `API Loja Franca` é disponibilizada através de serviço `HTTP REST`, oferencendo operações para o processo de vendas das Lojas Francas de Fronteira.
        <br/> Destacamos que o sistema foi implementado recentemente para as lojas francas prepararem as adaptações necessárias aos seus sistemas próprios, podendo ainda ocorrer instabilidades pontuais.
        ### Autenticação
        Para testar a degustação da API, não é necessário realizar autenticação prévia. Porém, para consumo no ambiente produtivo, a autenticação prévia é necessária.
        <br/> Para informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf        
    responses: {}
  Formatos e Tipos:
    head:
      tags:
        - 2 Padrões
      summary: Formatos e Tipos
      description: |-

        Os seguintes tipos de dados são utilizados pela API Loja Franca:

        | Tipos | Descrição | Formato
        | ---------------------- | :------------------------------------------------------------- | ------------------ |
        | string        | Cadeia de caracteres |
        | string - data     | String com formato de data  | yyyy-MM-dd
        | string - data/hora | String com formato de data e hora | yyyy-MM-ddTHH:mm:ss
        | integer | Número inteiro que representa códigos e identificadores |
        | number | Número inteiro em situações que pode passar do valor 2^31-1 |
        | decimal | Número fracionado, sempre com duas casas após o decimal, separado por "." | Ex: 123456789012.22 (Exceto cotação do dólar, que pode ter até 3 casas após o decimal).

         --------------------------
    responses: {}
  Tratamento de Erros:
    head:
      tags:
        - 2 Padrões
      summary: Formatos e Tipos
      description: |-

        **Erros de negócio:**
        <br/> São erros disparados pela API do Loja Franca de Fronteira quando há uma discordância entre os parâmetros enviados e as regras de negócio estabelecidas para as lojas francas.
        A resposta HTTP será:
        | Status Code | Descrição 
        | ----------- | ---------
        | 422         | Erro de Negócio do Loja Franca
        <br/> **Atributos da resposta - Status code 422**
        <br/>
        | Nome | Descrição | Tipo 
        | ----------- | --------- | -----
        | codigo      | Código que identifica o erro | integer
        | mensagem    | Mensagem de Erro | string
        <br/> **Erros de formatação**
        <br/> São erros disparados pela API do Loja Franca de Fronteira quando há uma discordância na formatação/tipo de dados sugeridos pelos parâmetros enviados.
        <br/> A resposta HTTP será:
        | Status Code | Descrição 
        | ----------- | ---------
        | 400         | Erro de formatação dos parâmetros enviados
        <br/> **Atributos da resposta - Status code 400**
        <br/>
        | Nome | Descrição | Tipo 
        | ----------- | --------- | -----
        | codigo      | Código que identifica o erro | integer
        | mensagem    | Mensagem de Erro | string        
        <br/> Independentemente do tipo de erro, as mensagens de erro podem conter uma <tag>, que visa facilitar o tratamento do erro caso a aplicação que esteja utilizando a API do Loja Franca de Fronteira queira fazer algum tratamento específico, como por exemplo, uma extração de parâmetros a partir de uma mensagem de erro.
        <br/> Os erros que a API do Loja Franca de Fronteira dispara podem ser consultados na tabela de erros, mais abaixo.
    responses: {}
  Tabela de produtos:
    head:
      tags:
        - 3 Tabelas
      summary: Formatos e Tipos
      description: |-

        | Código | Descrição 
        | ----------- | ---------
        | 1         | Bebida alcoólica
        | 2         | Cigarro
        | 3         | Fumo
    responses: {}
  Tabela de tipos de documento:
    head:
      tags:
        - 3 Tabelas
      summary: Formatos e Tipos
      description: |-

        | Código | Descrição | Código do País | País 
        | ------ | --------- | -------------- | ----
        | 1         | Passaporte | TODOS OS PAÍSES | 
        | 2         | Registro de Identidade Civil | 105 | Brasil
        | 3         | Cédula de Identidade AC | 105 | Brasil
        | 4         | Cédula de Identidade AL | 105 | Brasil
        | 5         | Cédula de Identidade AM | 105 | Brasil
        | 6         | Cédula de Identidade AP | 105 | Brasil
        | 7         | Cédula de Identidade BA | 105 | Brasil
        | 8         | Cédula de Identidade CE | 105 | Brasil
        | 9         | Cédula de Identidade DF | 105 | Brasil
        | 10        | Cédula de Identidade ES | 105 | Brasil
        | 11        | Cédula de Identidade GO | 105 | Brasil
        | 12        | Cédula de Identidade MA | 105 | Brasil
        | 13        | Cédula de Identidade MG | 105 | Brasil
        | 14        | Cédula de Identidade MS | 105 | Brasil
        | 15        | Cédula de Identidade MT | 105 | Brasil
        | 16        | Cédula de Identidade PA | 105 | Brasil 
        | 17        | Cédula de Identidade PB | 105 | Brasil
        | 18        | Cédula de Identidade PE | 105 | Brasil
        | 19        | Cédula de Identidade PI | 105 | Brasil
        | 20        | Cédula de Identidade PR | 105 | Brasil
        | 21        | Cédula de Identidade RJ | 105 | Brasil
        | 22        | Cédula de Identidade RN | 105 | Brasil
        | 23        | Cédula de Identidade RO | 105 | Brasil
        | 24        | Cédula de Identidade RR | 105 | Brasil
        | 25        | Cédula de Identidade RS | 105 | Brasil
        | 26        | Cédula de Identidade SC | 105 | Brasil
        | 27        | Cédula de Identidade SE | 105 | Brasil
        | 28        | Cédula de Identidade SP | 105 | Brasil
        | 29        | Cédula de Identidade TO | 105 | Brasil
        | 30        | Cédula de Identidade para estrangeiro | 105 | Brasil
        | 31        | Documento Nacional de Identidad | 63 | Argentina 
        | 32        | Cédula de Identidad | 586 | Paraguai
        | 33        | Cédula de Identidad | 845 | Uruguai
        | 34        | Cédula de Identidad | 845 | Venezuela
        | 35        | Cédula de Identidad para Nacionales | 97 | Bolívia
        | 36        | Cédula de Identidad para Extranjeros | 97 | Bolívia
        | 37        | Cédula de Identidad | 158 | Chile
        | 38        | Cédula de Ciudadanía | 169 | Colômbia
        | 39        | Tarjeta de Identidad | 169 | Colômbia
        | 40        | Cédula de Extranjería | 169 | Colômbia
        | 41        | Cédula de Ciudadanía | 239 | Equador
        | 42        | Cédula de Identidad para extranjeros | 239 | Equador
        | 43        | Documento Nacional de Identidad | 589 | Peru
        | 44        | Carné de Extranjería | 589 | Peru
    responses: {}
  Tabela de países:
    head:
      tags:
        - 3 Tabelas
      summary: Tabela de países
      description: 'Ver [tabela de países da Receita Federal do Brasil](http://normas.receita.fazenda.gov.br/sijut2consulta/anexoOutros.action?idArquivoBinario=22672 "Tabela de países da Receita Federal do Brasil")'
  Tabela de erros:
    head:
      tags:
        - 3 Tabelas
      summary: Tabela de Erros
      description: |-

        | Código | Mensagem
        | ------ | --------
        | 1   | Estrutura do JSON de entrada diferente da definição do serviço.
        | 2   | Chave obrigatória {0} sem conteúdo.
        | 3   | {0} com tamanho ou formato diferente da definição do serviço.
        | 4   | Certificado não foi informado, não é de Equipamento e/ou não é válido.
        | 9   | cnpjLoja {0} não existe como Loja.
        | 10  | cnpjLoja diferente do Certificado de Autenticação.
        | 11  | cnpjLoja {0} Suspenso.
        | 12  | cnpjLoja {0} Cancelado.
        | 13  | paisOrigem não localizado na Tabela de Países.
        | 14  | tipoDocumento inválido.
        | 15  | CPF inválido.
        | 16  | Viajante não localizado.
        | 17  | CPF obrigatório para brasileiros (paisOrigem = Brasil).
        | 18  | CPF diferente do CPF vinculado ao documento {0} através de venda no dia {1} .
        | 19  | CPF diferente do CPF vinculado ao documento {0} pela RFB.
        | 20  | dataNascimento e nomeNoDocumento obrigatórios para estrangeiro com CPF não informado.
        | 21  | Documento não pode ser vinculado ao CPF {0} pois desvinculado desse CPF pela RFB.
        | 22  | valorTotalItensImportados ou valorTotalItensNacionais deve ser maior que zero.
        | 23  | valorTotalItensNacionais não pode ser maior que saldo de cota: {0}
        | 24  | valorCotacaoLoja deve ser maior que zero.
        | 25  | produtoControleQuantitativo.codigoProduto {0} não localizado na Tabela de Produtos.
        | 26  | produtoControleQuantitativo.codigoProduto {0} já informado na venda.
        | 27  | produtoControleQuantitativo.quantidade deve ser maior que zero e não superior ao limite de {0} {1} .
        | 28  | produtoControleQuantitativo.valorTotalProdutos deve ser maior que zero.
        | 29  | Venda gera imposto inferior ao limite mínimo (R$ {0} ) para geração de DARF.
        | 30  | Somatório dos produtoControleQuantitativo.valorTotal maior que valorTotalItensImportados + valorTotalItensNacionais.
        | 31  | idVenda não localizado.
        | 32  | {0} DV inválido.
        | 33  | {0} emitida por CNPJ diferente da loja.
        | 34  | {0} já informada em outras operações.
        | 35  | {0} DV inválido.
        | 36  | {0} emitida por CNPJ diferente da loja.
        | 37  | {0} já informada em outras operações.
        | 38  | Venda foi entregue anteriormente.
        | 39  | Venda foi cancelada anteriormente.
        | 40  | Venda foi totalmente devolvida anteriormente.
        | 41  | Venda não foi entregue anteriormente.
        | 42  | produtoControleQuantitativo.codigoProduto {0} não informado na venda.
        | 43  | produtoControleQuantitativo.codigoProduto {0} já informado na devolução.
        | 44  | produtoControleQuantitativo.quantidade deve ser maior que zero e não superior ao saldo da venda.
        | 45  | produtoControleQuantitativo.valorTotal deve ser maior que zero e não superior ao saldo da venda.
        | 46  | valorTotalItensImportados + valorTotalItensNacionais maior que saldo da venda.
        | 52  | Data de nascimento diferente do {0}.
        | 54  | Venda desvinculada do Viajante.
        | 55  | CPF não localizado.
        | 56  | Data sem cotação do dólar.
        | 57  | Situação do CPF inválida.
        | 58  | notaFiscalSaida igual a notaFiscalEntrada
        | 99  | Erro no ambiente {0} . {1} .
        | -99  | Erro na comunicação com algum outro sistema externo que a API do Loja Franca de Fronteira se integra.
  /viajante/cota:
    post:
      tags:
        - 4 Métodos e Testes Consultas
      summary: Consulta de cota
      description: |-
        Retorna a cota disponível para um determinado viajante. Para Viajante Brasileiro, a identificação pelo número de documento CPF é sempre obrigatória.
        ## Parâmetros de Entrada
        ### Parâmetros para Viajante (Brasileiro ou Estrangeiro) com CPF
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |cpf|CPF do Viajante|string|body|Obrigatório
        |dataNascimento|Data de nascimento do Viajante|string|body|Obrigatório
        ### Parâmetros para Viajante Estrangeiro 
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |documento|Documento apresentado pelo viajante|documento|body|Obrigatório
        |codigoPaisOrigem|Código do pais de origem do Viajante|integer|body|Obrigatório. Ver tabela de países
        |codigoTipo|Código do tipo do documento do Viajante|integer|body|Obrigatório. Ver tabela de tipos de documentos
        |numero|Número do documento do Viajante|string|body|Obrigatório
        |dataNascimento|Data de nascimento do Viajante|stringr|body|Obrigatório
        |nomeNoDocumento|Nome do Viajante no documento apresentado|string|body|Obrigatório
        ## Atributos de Resposta
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |nomeViajante|Nome do viajante cadastrado no Loja Franca|string|
        |dataUltimaVenda|Data da última venda|string|yyyy-MM-ddTHH:mm:ss
        |valorSaldoCota|Valor restante do saldo de cota|decimal|
        |saldoCotaProduto|Saldo de cota de cada produto|saldoCotaProduto|
        |codigoProduto|Código do produto|integer|Ver tabela de produtos
        |quantidade|Quantidade de produtos restantes na cota|integer|
        
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EntradaCota'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SaidaCota'
        '422':
          description: |-
            Erros de Negócio
            Códigos de erros possíveis: 13, 14, 15, 16, 52, 55, 57, 99, -99
  /viajante/consulta:
    post:
      tags:
        - 4 Métodos e Testes Consultas
      summary: Consulta de viajante
      description: |-
        Retorna o nome, a data de nascimento e a data da última venda de um determinado viajante.
        ## Parâmetros de Entrada
        ### Parâmetros para Viajante Brasileiro com CPF
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |cpf|CPF do Viajante|string|body|Obrigatório
        ### Parâmetros para Viajante Estrangeiro 
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |documento|Documento apresentado pelo viajante|documento|body|Obrigatório
        |codigoPaisOrigem|Código do pais de origem do Viajante|integer|body|Obrigatório. Ver tabela de países 
        |codigoTipo|Código do tipo do documento do Viajante|integer|body|Obrigatório. Ver tabela de tipos de documentos
        |numero|Número do documento do Viajante|string|body|Obrigatório
        ## Atributos de Resposta
        |Nome|Descrição|Tipo|Detalhes 
        |----|---------|----|--------
        |nomeViajante|Nome do viajante cadastrado no Loja Franca|string|
        |dataNascimento|Data de nascimento do Viajante|string|yyyy-MM-dd
        |dataUltimaVenda|Data da última venda|string|yyyy-MM-ddTHH:mm:ss

      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EntradaViajante'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SaidaViajante'
        '422':
          description: |-
            Erros de Negócio
            Códigos de erros possíveis: 15, 16, 55, 57, 99
  /cotacaoDolar:
    get:
      tags:
        - 4 Métodos e Testes Consultas
      summary: Consulta cotação do dólar
      description: |-
        Retorna a cotação do dólar de uma determinada data.
        ## Parâmetros de Entrada
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |dataCotacao|Data da cotação a pesquisar|string|query|Obrigatório yyyy-MM-dd
        ## Atributos de Resposta
        |Nome|Descrição|Tipo|Detalhes 
        |----|---------|----|--------
        |data|Data da cotação retornada|string|yyyy-MM-dd
        |valorOficial|Valor da cotação do dolar na data retornada|decimal|
      parameters:
        - in: query
          name: dataCotacao
          type: string
          description: Data da cotação
          required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SaidaCotacao'
        '422':
          description: |-
            Erro de Negócio
            Códigos de erros possíveis: 56
  /venda:
    post:
      summary: Processa venda de viajante
      tags:
        - 4 Métodos e Testes Venda
      description: |-
        Efetua uma operação de processamento de venda. Para Viajante Brasileiro, a identificação pelo número de documento de CPF é sempre obrigatória. A identificação por documento é sempre obrigatória independentemente se o Viajante for Brasileiro ou Estrangeiro.
        ## Parâmetros de Entrada
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |valorTotalItensImportados|Valor total (em US$) de itens importados na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensNacionais não for informado ou for igual a 0
        |valorTotalItensNacionais|Valor total (em US$) de itens nacionais na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensImportados não for informado ou for igual a 0
        |valorCotacaoLoja|Valor da cotação do dólar oferecido pela Loja Franca|decimal|body|Obrigatório
        |viajanteParametro|Identificação do viajante|viajante|body|Obrigatório. Formato segue os parâmetros da Consulta de Viajante. Documento é obrigatório para brasileiros na venda (atributos codigoPaisOrigems, codigoTipo e numero)
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados presentes na venda do viajante|produtos|body|Obrigatório quando é registrada uma venda com produtos controlados.
        |codigoProduto|Código do produto|Integer|body|Obrigatório quando é registrada uma venda com produtos controlados. Ver tabela de produtos.
        |quantidade| Quantidade de produtos controlados na venda|integer|body|Obrigatório quando é registrada uma venda com produtos controlados
        |valorTotal|Valor total destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma venda com produtos controlados
        ## Atributos de Resposta
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |idVenda|Número da venda|string|
        |dataHoraVenda|Data do registro da venda|string|yyyy-MM-ddTHH:mm:ss
        |darf|Darf gerado caso a venda exceda a cota|darf|
        |numero|Número do Darf|number|
        |valor|Valor do Darf|decimal|
        |dataVencimento|Data de vencimento do Darf|string|yyyy-MM-dd
        |codigoReceita|Código da receita recolhida|integer|
        |pdf|PDF do boleto do Darf|byte|String encoded em base-64
        ## Tipos de Viajantes
        ### Viajante Brasileiro (sem produtos controlados)
        Este tipo está descrito no body abaixo.
        <br/> 
        ### Viajante Estrangeiro (sem produtos controlados)
        {
        "valorTotalItensImportados": 10,
        "valorTotalItensNacionais": 0,
        "valorCotacaoLoja": 3.24,
        "viajanteParametro": {
          "documento": {
            "codigoPaisOrigem": 1,
            "codigoTipo": 1,
            "numero": "12345"
            "dataNascimento": "1980-01-15"
            "nomeNoDocumento": "Fulano de Tal"
            }}}
        ### Viajante Brasileiro (com produtos controlados)
        {
        "valorTotalItensImportados": 10,
        "valorTotalItensNacionais": 0,
        "valorCotacaoLoja": 3.24,
        "viajanteParametro": {
          "cpf": "00000000191",
          "documento": {
            "codigoPaisOrigem": 105,
            "codigoTipo": 1,
            "numero": "12345"
          }},
        "produtosControleQuantitativo": [{
          "codigoProduto": 10,
          "quantidade": 2,
          "valorTotal": 5.3
          }, {
          "codigoProduto": 1,
          "quantidade": 1,
          "valorTotal": 4.7
          }]}
        ## Tipos de Saída 
        ### Sem o DARF
        idVenda: '2017000000020992652'
        dataHoraVenda: '2017-12-11T17:27:41'
        ### Com o DARF
        Este tipo está descrito no response abaixo.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EntradaVenda'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SaidaVenda'
        '422':
          description: |-
            Erros de Negócio
            Códigos de erros possíveis: 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 55, 56, 57
  /venda/entrega:
    put:
      summary: Entrega venda para viajante
      tags:
        - 4 Métodos e Testes Venda
      description: |-
        Efetua a operação de entrega de venda
        ## Parâmetros de Entrada
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |idVenda|Identificação do número da venda gerada pelo sistema Loja Franca de Fronteira na operação Processa venda de viajante|string|query|Obrigatório
        |notaFiscalSaida|Número da NF de saída gerada pelo sistema gerador de NF|string|query|Obrigatório
        ## Atributos de Resposta
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |dataHoraEntrega|Data e hora da entrega da venda|string|yyyy-MM-ddTHH:mm:ss
      parameters:
        - in: query
          name: idVenda
          type: string
          description: 'Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira, na operação ''Processa venda de viajante'''
          required: true
        - in: query
          name: notaFiscalSaida
          type: string
          description: Número da Nota Fiscal de saída gerado pelo sistema gerados de nota fiscal
          required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SaidaEntregaVenda'
        '422':
          description: |-
            Erro de Negócio
            Códigos de erros possíveis: 31, 32, 33, 34, 39, 41, 54
  '/venda/cancelamento':
    put:
      summary: Cancela venda de viajante
      tags:
        - 4 Métodos e Testes Venda
      description: |- 
        Efetua uma operação de cancelamento de venda
        ## Parâmetros de Entrada
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |idVenda|Identificação do número da venda gerada pelo sistema Loja Franca de Fronteira na operação Processa venda de viajante|string|query|Obrigatório
        ## Atributos de Resposta
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |dataHoraCancelamento|Data e hora do cancelamento da venda|string|yyyy-MM-ddTHH:mm:ss
      parameters:
        - in: query
          name: idVenda
          type: string
          description: 'Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira, na operação ''Processa venda de viajante'''
          required: true
        - in: query
          name: notaFiscalSaida
          type: string
          description: Número da Nota Fiscal de saída gerado pelo sistema de nota fiscal
          required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SaidaCancelaVenda'
        '422':
          description: |-
            Erro de Negócio
            Códigos de erros possíveis: 31, 38, 39, 54
  /venda/devolucaoParcial:
    post:
      summary: Devolução parcial de venda
      tags:
        - 4 Métodos e Testes Devolução/Troca
      description: |-
        Efetua uma operação de devolução parcial de venda
        ## Parâmetros de Entrada
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |valorTotalItensImportados|Valor total (em US$) de itens importados na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensNacionais não for informado ou for igual a 0
        |valorTotalItensNacionais|Valor total (em US$) de itens nacionais na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensImportados não for informado ou for igual a 0
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados presentes na venda do viajante|produtos|body|Formato segue os parâmetros do Processa venda de viajante
        |codigoProduto|Código do produto|integer|body|Obrigatório quando é registrada uma venda com produtos controlados. Veja Tabela de Produtos
        |quantidade| Quantidade de produtos controlados na venda|integer|body|Obrigatório quando é registrada uma venda com produtos controlados
        |valorTotal|Valor total destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma venda com produtos controlados
        |venda|Representa a Venda a ser devolvida|venda|body|Obrigatório
        |id|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira na operação Processa Venda de Viajante|string|body|obrigatório
        |notaFiscalEntrada|Número da Nota Fiscal de entrada gerada pelo sistema gerador de nota fiscal|string|body|obrigatorio
        ## Atributos de Resposta
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |dataHoraDevolucaoParcial|Data e hora da devolução parcial|string|yyyy-MM-ddTHH:mm:ss
        ## Tipos de Devolução Parcial de Venda
        ### Devolução Parcial sem Produtos Controlados 
         {
        "valorTotalItensImportados": 9.95,
        "valorTotalItensNacionais": 0,
        "venda": {
        "id": "2017000000020992652",
        "numeroNotaFiscalEntrada": "42100484684182000157550010000000020108042108"
        }}  
        ### Devolução Parcial com Produtos Controlados
        Este tipo está descrito no body abaixo.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EntradaDevolucaoParcial'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SaidaDevolucaoParcial'
        '422':
          description: |-
            Erro de Negócio
            Códigos de erros possíveis: 31, 32, 33, 34, 39, 40, 41, 42, 43, 44, 45, 46, 54, 58 
  '/venda/devolucaoTotal':
    put:
      summary: Devolução total de venda
      tags:
        - 4 Métodos e Testes Devolução/Troca
      description: |- 
        Efetua uma operação de devolução total de venda
        ## Parâmetros de Entrada
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |idVenda|Número da venda gerada pelo sistema Loja Franca|string|query|Obrigatório
        |notaFiscalSaida|Número da NF de saída gerada pelo sistema gerador de NF|string|query|Obrigatório
        ## Atributos de Resposta
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |dataHoraDevolucaoTotal|Data e hora da devolucao total|string|yyyy-MM-ddTHH:mm:ss
      parameters:
        - in: query
          name: idVenda
          type: string
          description: 'Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira, na operação ''Processa venda de viajante'''
          required: true
        - in: query
          name: notaFiscalSaida
          type: string
          description: Número da Nota Fiscal de saída gerado pelo sistema gerador de nota fiscal
          required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SaidaDevolucaoTotal'
        '422':
          description: |-
            Erro de Negócio
            Códigos de erros possíveis: 31, 32, 33, 34, 39, 40, 41, 54, 58
  /venda/trocaItemIdentico:
    post:
      summary: Troca Item Idêntico de Vendas
      tags:
        - 4 Métodos e Testes Devolução/Troca
      description: |-
        Efetua uma operação de troca de itens idênticos de venda
        ## Parâmetros de Entrada
        |Nome|Descrição|Tipo|Local|Detalhes
        |----|---------|----|-----|--------
        |valorTotalItensImportados|Valor total (em US$) de itens importados na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensNacionais não for informado ou for igual a 0
        |valorTotalItensNacionais|Valor total (em US$) de itens nacionais na venda para o viajante|decimal|body|Obrigatório quando valorTotalItensImportados não for informado ou for igual a 0
        |produtosControleQuantitativo|Representa a quantidade de produtos controlados presentes na venda do viajante|produtos|body|Formato segue os parâmetros do Processa venda de viajante
        |codigoProduto|Código do produto|integer|body|Obrigatório quando é registrada uma venda com produtos controlados. Veja Tabela de Produtos
        |quantidade| Quantidade de produtos controlados na venda|integer|body|Obrigatório quando é registrada uma venda com produtos controlados
        |valorTotal|Valor total destes produtos na Venda|decimal|body|Obrigatório quando é registrada uma venda com produtos controlados
        |venda|Representa a Venda a ser devolvida|venda|body|Obrigatório
        |id|Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira na operação Processa Venda de Viajante|string|body|obrigatório
        |notaFiscalEntrada|Número da Nota Fiscal de entrada gerada pelo sistema gerador de nota fiscal|string|body|obrigatorio
        ## Atributos de Resposta
        |Nome|Descrição|Tipo|Detalhes
        |----|---------|----|--------
        |dataHoraTrocaItemIdentico|Data e hora da troca|string|yyyy-MM-ddTHH:mm:ss
        ## Tipos de Troca de Itens Idênticos
        ### Troca de Itens Idênticos sem Produtos Controlados 
         {
        "valorTotalItensImportados": 9.95,
        "valorTotalItensNacionais": 0,
        "venda": {
        "id": "2017000000020992652",
        "numeroNotaFiscalEntrada": "42100484684182000157550010000000020108042108"
        }}  
        ### Troca de Itens Idênticos com Produtos Controlados
        Este tipo está descrito no body abaixo.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EntradaTrocaItemIdentico'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SaidaTrocaItemIdentico'
        '422':
          description: |-
            Erro de Negócio
            Códigos de erros possíveis: 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 54, 58
consumes:
  - application/json
schemes:
  - https
definitions:
  EntradaCota:
    type: object
    properties:
      cpf:
        type: string
        description: CPF do Viajante
        example: 00000000191
      dataNascimento:
        type: string
        description: Data de Nascimento do Viajante
        example: '1981-12-15'
  SaidaCota:
    type: object
    properties:
      nomeViajante:
        type: string
        description: Nome do Viajante
        example: FULANO DE TAL
      dataUltimaVenda:
        type: string
        description: Data da última venda para o viajante
        example: '2017-12-08T17:13:55'
      valorSaldoCota:
        type: number
        description: Saldo da cota do viajante
        example: 300
      saldoCotaProduto:
        type: array
        items:
          type: object
          properties:
            codigoProduto:
              type: integer
              example: '1'
            quantidade:
              type: integer
              example: '15'
  EntradaViajante:
    type: object
    properties:
      documento:
        type: string
        description: Documento apresentado pelo Viajante
        example: '00000000191'
      codigoPaisOrigem:
        type: string
        description: Código do país de origem
        example: '45'
      codigoTipo:
        type: string
        description: Código do tipo de documento apresentado pelo viajante
        example: '10'
      numero:
        type: string
        description: Número de identificação do documento apresentado pelo Viajante
        example: '12345'
  SaidaViajante:
    type: object
    properties:
      nomeViajante:
        type: string
        example: 'FULANO DE TAL'
      dataultimaVenda:
        type: string
        example: '2017-12-08T17:13:55.765Z'
      dataNascimento:
        type: string
        example: '1970-01-01'
  SaidaCotacao:
    type: object
    properties:
      data:
        type: string
        example: '2017-12-01'
      valorOficial:
        type: number
        example: '3.1241'
  SaidaEntregaVenda:
    type: object
    properties:
      dataHoraEntrega:
        type: string
        example: '2017-12-01T16:32:17'
  EntradaVenda:
    type: object
    properties:
      valorTotalItensImportados:
        type: string
        description: Valor total (em US$) de itens importados na Venda para o Viajante
        example: '20'
      valorTotalItensNacionais: 
        type: string 
        description: Valor total (em US$) de intens nacionais na Venda para o Viajante 
        example: '50'
      valorCotacaoLoja: 
        type: string 
        description: Valor da cotação do dólar oferecido pela loja franca
        example: '3.47'
      viajanteParametro: 
        properties:
          cpf: 
            type: string
            description: Número do CPF do Viajante
            example: '45786512355'
          documento:
            properties:
              codigoPaisOrigem:
                type: string
                description: Código do pais do Viajante
                example: '105'
              codigoTipo:
                type: string
                description: Tipo do código 
                example: '1'
              numero:
                type: string
                description: Número do documento 
                example: '12345'
  SaidaVenda:
    type: object
    properties:
      dataHoraEntrega:
        type: string
        example: 
          idVenda: '2017000000020992653'
          dataHoraVenda: '2017-12-11T17:27:41'
          darf:
           valor: 31.24
           codigoReceita: 1258
           numero: 7011734500514907
           dataVencimento: '2017-12-12'
           pdf: Base64EncodedString
  SaidaCancelaVenda:
    type: object
    properties:
      dataHoraCancelamento:
        type: string
        example: '2017-12-01T16:32:17'
  EntradaDevolucaoParcial:
    type: object
    properties:
      valorTotalItensImportados:
        type: string
        description: Valor total (em US$) de itens importados a devolver
        example: '9.95'
      valorTotalItensNacionais:
        type: string
        description: Valor total (em US$) de itens nacionais a devolver
        example: '14.15'
      produtosControleQuantitativo:
        properties:
          codigoProduto:
            type: string
            description: Código do produto
            example: '10'
          quantidade:
            type: string
            description: Quantidade de produtos controlados presente na Venda
            example: '45'
          valorTotal:
            type: string
            description: Valor total destes produtos na Venda
            example: '2.68'
      venda:
        properties:
          id:   
            type: string
            description: Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira na operação Processa Venda de Viajante
            example: '2017000000020992652'
          notaFiscalEntrada:
            type: string
            description: Número da Nota Fiscal de Entrada gerado pelo sistema Gerador de Nota Fiscal
            example: "42100484684182000157550010000000020108042108"
  SaidaDevolucaoParcial:
    type: object
    properties:
      dataHoraDevolucaoParcial:
        type: string
        description: Data e hora da devolução
        example: "2017-12-11T17:27:41"
  SaidaDevolucaoTotal:
    type: object
    properties:
      dataHoraDevolucaoTotal:
        type: string
        description: Data e hora da devolução
        example: "2017-12-11T17:27:41"
  EntradaTrocaItemIdentico:
    type: object
    properties:
      valorTotalItensImportados:
        type: string
        description: Valor total (em US$) de itens importados a serem trocados
        example: '9.95'
      valorTotalItensNacionais:
        type: string
        description: Valor total (em US$) de itens nacionais a serem trocados
        example: '14.15'
      produtosControleQuantitativo:
        properties:
          codigoProduto:
            type: string
            description: Código do produto
            example: '10'
          quantidade:
            type: string
            description: Quantidade de produtos controlados presente na Venda
            example: '45'
          valorTotal:
            type: string
            description: Valor total destes produtos na Venda
            example: '2.68'
      venda:
        properties:
          id:   
            type: string
            description: Identificação do número da venda gerado pelo sistema Loja Franca de Fronteira na operação Processa Venda de Viajante
            example: '2017000000020992652'
          notaFiscalEntrada:
            type: string
            description: Número da Nota Fiscal de Entrada gerado pelo sistema Gerador de Nota Fiscal
            example: "42100484684182000157550010000000020108042108"
  SaidaTrocaItemIdentico:
    type: object
    properties:
      dataHoraTrocaItemIdentico:
        type: string
        description: Data e hora da troca
        example: "2017-12-11T17:27:41"

                 
        
