{
  "host": "apigateway.serpro.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "API do Microempreendedor (api-mei)",
    "description": "\nPara informações de como se autenticar antes de consumir a API, por favor, consulte a documentação em: https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf\n\n    \nA api-due é disponibilizado através do `HTTP REST` oferencendo as operações de 'Listar CNPJs', 'Consultar Certificados' e 'Consultar Certificados Específicos'.\n## Códigos de Retorno comuns\n| Código de retorno | Resumido | Explicação |\n| ------------- |:--------------------|:-----------------------------------------------------------------------------|\n| 200           | OK                  | Tudo funcionou como esperado e a operação foi realizada com sucesso                                               |\n| 400           | Requisição inválida | Alguma(s) informação(ões) enviadas não são válidas para a operação especificada. |\n| 403           | Não encontrado      | O usuário especificado não tem permissão para executar a operação especificada |\n| 500           | Erro no servidor    | Ocorreu algum erro interno.      |\n\n## Endereço de Produção\n    https://gateway.apiserpro.serpro.gov.br/api-mei/v1/\n    \n## Endereço de Degustação\n    https://gateway.apiserpro.serpro.gov.br/api-mei-trial/v1/\n    "
  },
  "basePath": "/api-consulta-mei/v1",
  "paths": {
    "/mei/listarCNPJs": {
      "get": {
        "tags": [
          "MEI"
        ],
        "summary": "Listar os CNPJs de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [GET] https://gateway.apiserpro.serpro.gov.br/api-consulta-mei/v1/listarCNPJs/cpf\n\n\n#### Parâmetros de Entrada\n    {\n      \"CPF\": \"71066868409\" }\n#### Retorno\n    { \n      \"cnpj\": \"22025711000153\",\n      \"situacao\": \"SUSPENSO\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados dos CNPJs referentes ao CPF",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotaCredito"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho Alterada",
            "schema": {
              "$ref": "#/definitions/Conta"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno da API"
          }
        }
      }
    },
    "/mei/consultarCertificados": {
      "get": {
        "tags": [
          "MEI"
        ],
        "summary": "Consultar Certificados de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [GET] https://gateway.apiserpro.serpro.gov.br/api-consulta-mei/v1/consultarCertificados/cpf   (traz todos os CNPJs) \n\n      [GET] https://gateway.apiserpro.serpro.gov.br/api-consulta-mei/v1/consultarCertificados/cpf?ativo=true (traz apenas os CNPJs ativos) \n#### Parâmetros de Entrada\n    {\n      \"CPF\": \"71066868409\"\n    }      \n#### Retorno\n    {\n      \"nomeEmpresarial\": \"HE 80454348053\",\n      \"nomeEmpresario\": \"HE\",               \n      \"nomeFantasia\": \"@2\",\n      \"capitalSocial\": 1,\n      \"identidade\": {\n        \"numero\": \"\",\n        \"orgaoEmissor\": \"\",\n        \"ufEmissor\": \"\",\n        \"cpf\": \"80454348053\"\n      },\n      \"situacaoCadastral\": \"ATIVO\"\n      \"dataSituacaoCadastral\": \"2011-01-23\",\n      \"cnpj\": \"13143379000130\",\n      \"nire\": \"35801597535\",\n      \"enderecoComercial\": {\n        \"cep\": \"18143040\",\n        \"logradouro\": \"RUA DGQS PWVCHGU PWQDWUAGQ\",\n        \"numero\": \"275\",\n        \"bairro\": \"CENTRO (MAILASQUI)\",\n        \"municipio\": {\n          \"codigo\": 7113,\n          \"nome\": \"SAO ROQUE\"\n        },\n        \"uf\": \"SP\"\n      },\n      \"dataInicioAtividades\": \"2011-01-23\",\n      \"formaAtuacao\": [\n        \"Estabelecimento Fixo\"\n        ],\n      \"ocupacaoPrincipal\": {\n        \"codigo\": \"\",\n        \"cna\": \"4330499\"\n      },\n      \"ocupacoesSecundarias\": {\n        \"codigo\": \"\",\n        \"cna\": \"5874695\"\n      },\n      \"numeroRecibo\": \"\",\n      \"numeroIdentificador\": \"\",\n      \"dataEmissao\": \"2018-05-19\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados dos CNPJs referentes ao CPF",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotaCredito"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho Alterada",
            "schema": {
              "$ref": "#/definitions/Conta"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno da API"
          }
        }
      }
    },
    "/mei/consultarCertificadoEspecifico": {
      "get": {
        "tags": [
          "MEI"
        ],
        "summary": "Consultar Certificado Específico de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/api-consulta-mei/v1/consultarCertificadoEspecifico/cpf/cnpj\n#### Parânetris de Entrada\n    {\n      \"CPF\": \"71066868409\",\n      \"CNPJ\": \"22025711000153\"\n    \n#### Retorno\n    {\n      \"nomeEmpresarial\": \"HE 80454348053\",\n      \"nomeEmpresario\": \"HE\",               \n      \"nomeFantasia\": \"@2\",\n      \"capitalSocial\": 1,\n      \"identidade\": {\n        \"numero\": \"\",\n        \"orgaoEmissor\": \"\",\n        \"ufEmissor\": \"\",\n        \"cpf\": \"80454348053\"\n      },\n      \"situacaoCadastral\": \"ATIVO\"\n      \"dataSituacaoCadastral\": \"2011-01-23\",\n      \"cnpj\": \"13143379000130\",\n      \"nire\": \"35801597535\",\n      \"enderecoComercial\": {\n        \"cep\": \"18143040\",\n        \"logradouro\": \"RUA DGQS PWVCHGU PWQDWUAGQ\",\n        \"numero\": \"275\",\n        \"bairro\": \"CENTRO (MAILASQUI)\",\n        \"municipio\": {\n          \"codigo\": 7113,\n          \"nome\": \"SAO ROQUE\"\n        },\n        \"uf\": \"SP\"\n      },\n      \"dataInicioAtividades\": \"2011-01-23\",\n      \"formaAtuacao\": [\n        \"Estabelecimento Fixo\"\n        ],\n      \"ocupacaoPrincipal\": {\n        \"codigo\": \"\",\n        \"cna\": \"4330499\"\n      },\n      \"ocupacoesSecundarias\": {\n        \"codigo\": \"\",\n        \"cna\": \"5874695\"\n      },\n      \"numeroRecibo\": \"\",\n        \"numeroIdentificador\": \"\",\n        \"dataEmissao\": \"2018-05-19\"\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados dos CNPJs referentes ao CPF",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotaCredito"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho Alterada",
            "schema": {
              "$ref": "#/definitions/Conta"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno da API"
          }
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "definitions": {
    "NotaCredito": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "ugFavorecida": {
          "type": "string"
        },
        "gestaoFavorecida": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "numeroTransferencia": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        }
      }
    },
    "Conta": {
      "properties": {
        "conta": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        }
      }
    }
  }
}
