{
  "host": "apigateway.serpro.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {  
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "API do Microempreendedor (api-mei)",
    "description": "\nPara informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf\n\n    \nA api-due é disponibilizado através do `HTTP REST` oferencendo as operações de 'Listar CNPJs', 'Consultar Certificados' e 'Consultar Certificados Específicos'.\n## Códigos de Retorno comuns\n| Código de retorno | Resumido | Explicação |\n| ------------- |:--------------------|:-----------------------------------------------------------------------------|\n| 200           | OK                  | Tudo funcionou como esperado e a operação foi realizada com sucesso                                               |\n| 400           | Requisição inválida | Alguma(s) informação(ões) enviadas não são válidas para a operação especificada. |\n| 403           | Não encontrado      | O usuário especificado não tem permissão para executar a operação especificada |\n| 500           | Erro no servidor    | Ocorreu algum erro interno.      |\n\n## Endereço de Produção\n    https://gateway.apiserpro.serpro.gov.br/api-mei/1.0/\n    \n## Endereço de Degustação\n    https://gateway.apiserpro.serpro.gov.br/api-mei-trial/1.0.0/\n    "
  },
  "basePath": "/api-mei/1.0",
  "paths": {
    "/mei/listarCNPJs": {
      "post": {
        "tags": [
          "MEI"
        ],
        "summary": "Lista os CNPJs de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/api-mei-trial/1.0.0/ne/listarCNPJs\n####\n#### Conteudo do corpo\n    {\n      \"dataEmissao\": \"31DEZ17\",\n      \"numeroDocumento\": \"\",               \n      \"ugEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\",\n      \"numeroLista\": \"\",\n      \"taxaCambio\": \"\",\n      \"observacao\": \"Cancelamento de NE\",\n      \"valorTotalEmpenho\": \"555555\",\n      \"numeroProcesso\": \"0100\",\n      \"numeroOriginalConvenio\": \"0010\",\n      \"passivoAnterior\": \"N\",\n      \"contaPassivo\": \"\",\n      \"contaValor\": [\n      {\n        \"conta\": \"\",\n        \"valor\": \"\"\n      }\n    ],\n      \"contaPassivoFinanceiro\": \"string\",\n      \"especie\": \"02\",\n      \"ugReferencia\": \"010001\",\n      \"gestaoReferencia\": \"00001\",\n      \"numeroEmpenhoReferencia\": \"2017NE800051\",\n      \"numeroListaReferencia\": \"2017LI800097\",\n      \"listaItens\": [\n      {\n        \"subItemNd\": \"01\",\n        \"quantidade\": \"000000000000001\",\n        \"valorUnitario\": \"00000000000555555\",\n        \"valorTotal\": \"00000000000555555\",\n        \"descricao\": \"Teste alteração\"\n      }\n    ],\n      \"numeroTransacaoCliente\": \"2017TR000049\",\n      \"credencial\": {\n      \"cpf\": \"60165570644\",\n      \"ug\": \"010001\",\n      \"sistema\": \"SIAFI2017HM\"\n        }\n      }\n####\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012017NE800060 010001000012017LI800106\",\n      \"erros\": [],\n      \"status\": 200\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados dos CNPJs referentes ao CPF",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlteraNE"
            }
          },
    "/mei/consultarCertificados": {
      "post": {
        "tags": [
          "MEI"
        ],
        "summary": "Consultar certificados ativos de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/api-mei-trial/1.0.0/ne/listarCNPJs\n####\n#### Conteudo do corpo\n    {\n      \"dataEmissao\": \"31DEZ17\",\n      \"numeroDocumento\": \"\",               \n      \"ugEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\",\n      \"numeroLista\": \"\",\n      \"taxaCambio\": \"\",\n      \"observacao\": \"Cancelamento de NE\",\n      \"valorTotalEmpenho\": \"555555\",\n      \"numeroProcesso\": \"0100\",\n      \"numeroOriginalConvenio\": \"0010\",\n      \"passivoAnterior\": \"N\",\n      \"contaPassivo\": \"\",\n      \"contaValor\": [\n      {\n        \"conta\": \"\",\n        \"valor\": \"\"\n      }\n    ],\n      \"contaPassivoFinanceiro\": \"string\",\n      \"especie\": \"02\",\n      \"ugReferencia\": \"010001\",\n      \"gestaoReferencia\": \"00001\",\n      \"numeroEmpenhoReferencia\": \"2017NE800051\",\n      \"numeroListaReferencia\": \"2017LI800097\",\n      \"listaItens\": [\n      {\n        \"subItemNd\": \"01\",\n        \"quantidade\": \"000000000000001\",\n        \"valorUnitario\": \"00000000000555555\",\n        \"valorTotal\": \"00000000000555555\",\n        \"descricao\": \"Teste alteração\"\n      }\n    ],\n      \"numeroTransacaoCliente\": \"2017TR000049\",\n      \"credencial\": {\n      \"cpf\": \"60165570644\",\n      \"ug\": \"010001\",\n      \"sistema\": \"SIAFI2017HM\"\n        }\n      }\n####\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012017NE800060 010001000012017LI800106\",\n      \"erros\": [],\n      \"status\": 200\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados dos CNPJs referentes ao CPF",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlteraNE"
            }
          },
    "/mei/consultarCertificadoEspecifico": {
      "post": {
        "tags": [
          "MEI"
        ],
        "summary": "Consultar certificado específico de um CPF",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "\n## Exemplo\n#### Chamada\n      [POST] https://gateway.apiserpro.serpro.gov.br/api-mei-trial/1.0.0/ne/listarCNPJs\n####\n#### Conteudo do corpo\n    {\n      \"dataEmissao\": \"31DEZ17\",\n      \"numeroDocumento\": \"\",               \n      \"ugEmitente\": \"010001\",\n      \"gestaoEmitente\": \"00001\",\n      \"numeroLista\": \"\",\n      \"taxaCambio\": \"\",\n      \"observacao\": \"Cancelamento de NE\",\n      \"valorTotalEmpenho\": \"555555\",\n      \"numeroProcesso\": \"0100\",\n      \"numeroOriginalConvenio\": \"0010\",\n      \"passivoAnterior\": \"N\",\n      \"contaPassivo\": \"\",\n      \"contaValor\": [\n      {\n        \"conta\": \"\",\n        \"valor\": \"\"\n      }\n    ],\n      \"contaPassivoFinanceiro\": \"string\",\n      \"especie\": \"02\",\n      \"ugReferencia\": \"010001\",\n      \"gestaoReferencia\": \"00001\",\n      \"numeroEmpenhoReferencia\": \"2017NE800051\",\n      \"numeroListaReferencia\": \"2017LI800097\",\n      \"listaItens\": [\n      {\n        \"subItemNd\": \"01\",\n        \"quantidade\": \"000000000000001\",\n        \"valorUnitario\": \"00000000000555555\",\n        \"valorTotal\": \"00000000000555555\",\n        \"descricao\": \"Teste alteração\"\n      }\n    ],\n      \"numeroTransacaoCliente\": \"2017TR000049\",\n      \"credencial\": {\n      \"cpf\": \"60165570644\",\n      \"ug\": \"010001\",\n      \"sistema\": \"SIAFI2017HM\"\n        }\n      }\n####\n#### Retorno\n    { \n      \"codigo\": 0,\n      \"mensagem\": \"010001000012017NE800060 010001000012017LI800106\",\n      \"erros\": [],\n      \"status\": 200\n    }",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Dados dos CNPJs referentes ao CPF",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlteraNE"
            }
          }         
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados da Nota de Empenho Alterada",
            "schema": {
              "$ref": "#/definitions/NE"
            }
          },
          "400": {
            "description": "Algum campo enviado é inválido"
          },
          "403": {
            "description": "Usuário não tem permissão para realizar esta operação"
          },
          "500": {
            "description": "Erro interno da API"
          }
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "definitions": {
    "NotaCredito": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "ugFavorecida": {
          "type": "string"
        },
        "gestaoFavorecida": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "numeroTransferencia": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "listaEventos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventoNC"
          }
        }
      }
    },
    "GeraNC": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "ugFavorecida": {
          "type": "string"
        },
        "gestaoFavorecida": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "numeroTransferencia": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "listaEventos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventoNC"
          }
        }
      }
    },
    "NCGerada": {
      "properties": {
        "ug": {
          "type": "string"
        },
        "gestao": {
          "type": "string"
        },
        "ano": {
          "type": "string"
        },
        "tipoDoc": {
          "type": "string"
        },
        "sequencialDoc": {
          "type": "string"
        }
      }
    },
    "EventoNC": {
      "properties": {
        "evento": {
          "type": "string"
        },
        "esferaOrcamentaria": {
          "type": "string"
        },
        "ptres": {
          "type": "string"
        },
        "fonteRecurso": {
          "type": "string"
        },
        "naturezaDespesa": {
          "type": "string"
        },
        "subitem": {
          "type": "string"
        },
        "ugResponsavel": {
          "type": "string"
        },
        "planoInterno": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        }
      }
    },
    "Credencial": {
      "properties": {
        "cpf": {
          "type": "string"
        },
        "ug": {
          "type": "string"
        },
        "sistema": {
          "type": "string"
        }
      }
    },
    "AlteraNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "numeroLista": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "valorTotalEmpenho": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "numeroOriginalConvenio": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "contaValor": {
          "$ref": "#/definitions/Conta"
        },
        "contaPassivoFinanceiro": {
          "type": "string"
        },
        "especie": {
          "type": "string"
        },
        "ugReferencia": {
          "type": "string"
        },
        "gestaoReferencia": {
          "type": "string"
        },
        "numeroEmpenhoReferencia": {
          "type": "string"
        },
        "listaItens": {
          "$ref": "#/definitions/listaItens"
        },
        "numeroTransacaoCliente": {
          "type": "string"
        },
        "credencial": {
          "$ref": "#/definitions/Credencial"
        }
      }
    },
    "AnulaNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "numeroLista": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "valorTotalEmpenho": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "numeroOriginalConvenio": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "contaValor": {
          "$ref": "#/definitions/Conta"
        },
        "contaPassivoFinanceiro": {
          "type": "string"
        },
        "especie": {
          "type": "string"
        },
        "ugReferencia": {
          "type": "string"
        },
        "gestaoReferencia": {
          "type": "string"
        },
        "numeroEmpenhoReferencia": {
          "type": "string"
        },
        "listaItens": {
          "$ref": "#/definitions/listaItens"
        },
        "numeroTransacaoCliente": {
          "type": "string"
        },
        "credencial": {
          "$ref": "#/definitions/Credencial"
        }
      }
    },
    "ConsultaTransacao": {
      "properties": {
        "numeroTransacaoCliente": {
          "type": "string"
        },
        "credencial": {
          "type": "object",
          "properties": {
            "cpf": {
              "type": "string"
            },
            "ug": {
              "type": "string"
            },
            "sistema": {
              "type": "string"
            }
          }
        }
      }
    },
    "ConsultaNE": {
      "properties": {
        "ano": {
          "type": "string"
        },
        "ug": {
          "type": "string"
        },
        "gestao": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        },
        "credencial": {
          "type": "object",
          "properties": {
            "cpf": {
              "type": "string"
            },
            "ug": {
              "type": "string"
            },
            "sistema": {
              "type": "string"
            }
          }
        }
      }
    },
    "RealizaNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "numeroLista": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "valorTotalEmpenho": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "numeroOriginalConvenio": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "contaValor": {
          "type": "object",
          "properties": {
            "conta": {
              "type": "string"
            },
            "valor": {
              "type": "string"
            }
          }
        },
        "contaPassivoFinanceiro": {
          "type": "string"
        },
        "favorecido": {
          "type": "string"
        },
        "gestaoFavorecido": {
          "type": "string"
        },
        "esferaOrcamentaria": {
          "type": "string"
        },
        "codigoUO": {
          "type": "string"
        },
        "codigoProgramaTrabalho": {
          "type": "string"
        },
        "fonteRecursos": {
          "type": "string"
        },
        "naturezaDespesa": {
          "type": "string"
        },
        "unidadeGestoraResponsavel": {
          "type": "string"
        },
        "planoInterno": {
          "type": "string"
        },
        "indicadorResultado": {
          "type": "string"
        },
        "indicadorTipoCredito": {
          "type": "string"
        },
        "planoOrcamentario": {
          "type": "string"
        },
        "codigoAutorEmenda": {
          "type": "string"
        },
        "tipoEmpenho": {
          "type": "string"
        },
        "modalidadeLicitacao": {
          "type": "string"
        },
        "amparoLegal": {
          "type": "string"
        },
        "inciso": {
          "type": "string"
        },
        "origemMaterial": {
          "type": "string"
        },
        "municipioBeneficiado": {
          "type": "string"
        },
        "ufBeneficiada": {
          "type": "string"
        },
        "dataVencimento": {
          "type": "string"
        },
        "dataRecebimento": {
          "type": "string"
        },
        "valorCompromisso": {
          "type": "string"
        },
        "listaItens": {
          "type": "object",
          "properties": {
            "subItemNd": {
              "type": "string"
            },
            "quantidade": {
              "type": "string"
            },
            "valorUnitario": {
              "type": "string"
            },
            "valorTotal": {
              "type": "string"
            },
            "descricao": {
              "type": "string"
            }
          }
        },
        "numeroTransacaoCliente": {
          "type": "string"
        },
        "credencial": {
          "type": "object",
          "properties": {
            "cpf": {
              "type": "string"
            },
            "ug": {
              "type": "string"
            },
            "sistema": {
              "type": "string"
            }
          }
        }
      }
    },
    "ReforcaNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "numeroLista": {
          "type": "string"
        },
        "taxaCambio": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "valorTotalEmpenho": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "numeroOriginalConvenio": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "contaValor": {
          "type": "object",
          "properties": {
            "conta": {
              "type": "string"
            },
            "valor": {
              "type": "string"
            }
          }
        },
        "contaPassivoFinanceiro": {
          "type": "string"
        },
        "especie": {
          "type": "string"
        },
        "ugReferencia": {
          "type": "string"
        },
        "gestaoReferencia": {
          "type": "string"
        },
        "numeroEmpenhoReferencia": {
          "type": "string"
        },
        "numeroListaReferencia": {
          "type": "string"
        },
        "listaItens": {
          "type": "object",
          "properties": {
            "subItemNd": {
              "type": "string"
            },
            "quantidade": {
              "type": "string"
            },
            "valorUnitario": {
              "type": "string"
            },
            "valorTotal": {
              "type": "string"
            },
            "descricao": {
              "type": "string"
            }
          }
        },
        "numeroTransacaoCliente": {
          "type": "string"
        },
        "credencial": {
          "type": "object",
          "properties": {
            "cpf": {
              "type": "string"
            },
            "ug": {
              "type": "string"
            },
            "sistema": {
              "type": "string"
            }
          }
        }
      }
    },
    "NE": {
      "properties": {
        "codigo": {
          "type": "integer"
        },
        "mensagem": {
          "$ref": "#/definitions/MensagemNE"
        },
        "erros": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "type": "integer"
        }
      }
    },
    "MensagemNE": {
      "properties": {
        "dataEmissao": {
          "type": "string"
        },
        "saldoPagar": {
          "type": "string"
        },
        "numeroNota": {
          "type": "string"
        },
        "ugEmitente": {
          "type": "string"
        },
        "nomeUgEmitente": {
          "type": "string"
        },
        "gestaoEmitente": {
          "type": "string"
        },
        "nomeGestaoEmitente": {
          "type": "string"
        },
        "nomeFavorecido": {
          "type": "string"
        },
        "tipoFavorecido": {
          "type": "string"
        },
        "codigoFavorecido": {
          "type": "string"
        },
        "sicaf": {
          "type": "string"
        },
        "operacaoCambial": {
          "type": "string"
        },
        "observacao": {
          "type": "string"
        },
        "esfera": {
          "type": "string"
        },
        "ptres": {
          "type": "string"
        },
        "fonte": {
          "type": "string"
        },
        "codigoND": {
          "type": "string"
        },
        "ugResponsavel": {
          "type": "string"
        },
        "planoInterno": {
          "type": "string"
        },
        "valorEmpenho": {
          "type": "string"
        },
        "tipoEmpenho": {
          "type": "string"
        },
        "sistemaOrigem": {
          "type": "string"
        },
        "docReferenciaOriginal": {
          "type": "string"
        },
        "numDocReferencia": {
          "type": "string"
        },
        "passivoAnterior": {
          "type": "string"
        },
        "contaPassivo": {
          "type": "string"
        },
        "nomeModalidade": {
          "type": "string"
        },
        "nomeAmparo": {
          "type": "string"
        },
        "inciso": {
          "type": "string"
        },
        "numeroProcesso": {
          "type": "string"
        },
        "indicadorPagPrecatorio": {
          "type": "string"
        },
        "siglaUF": {
          "type": "string"
        },
        "codigoMunicipioBeneficiado": {
          "type": "string"
        },
        "origemMaterial": {
          "type": "string"
        },
        "referenciaDispensa": {
          "type": "string"
        },
        "numeroOriginal": {
          "type": "string"
        },
        "informacoesLancamentos": {
          "type": "string"
        },
        "contaCorrenteFinanceiro": {
          "type": "string"
        },
        "contasPermanentes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Conta"
          }
        },
        "numeroLista": {
          "type": "string"
        },
        "subItens": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubItem"
          }
        },
        "subItensSaldo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubItem"
          }
        },
        "nsaldo": {
          "type": "string"
        }
      }
    },
    "listaItens": {
      "properties": {
        "subItemNd": {
          "type": "string"
        },
        "quantidade": {
          "type": "string"
        },
        "valorUnitario": {
          "type": "string"
        },
        "descricao": {
          "type": "string"
        }
      }
    },
    "SubItem": {
      "properties": {
        "numero": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        }
      }
    },
    "Conta": {
      "properties": {
        "conta": {
          "type": "string"
        },
        "valor": {
          "type": "string"
        }
      }
    }
  }
}
