{
    "swagger": "2.0",
    "info": {
        "description": "O Decodificador Lince permite agilizar e automatizar o processo de autenticação de documentos compatíveis.",
        "version": "1.0",
        "title": "Decodificador Lince"
    },
    "security": [{
        "Bearer": []
    }],
    "securityDefinitions": {
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "host": "lincedec.estaleiro.serpro.gov.br",
    "tags": [{
            "name": "1 Introdução"
        },
        {
            "name": "2 Referência da API"
        }
    ],
    "basePath": "/api/v1",
    "paths": {
        "O que é o Lince": {
            "head": {
                "tags": [
                    "1 Introdução"
                ],
                "summary": "O que é o Lince",
                "description": "O Lince é um leitor de QR Codes especiais (o QR Code Lince) cuja função é replicar dados contidos em um documento de identificação de forma segura e livre de falsificação. Isso é possível pois os QR Codes Lince são encriptados na fonte, o que significa que a mínima alteração nos dados será imediatamente identificada pela aplicação, permitindo a detecção de fraudes pela comparação dos dados lidos com o documento físico."
            },
            "responses": {}
        },
        "O que é o serviço de decodificação": {
            "head": {
                "tags": [
                    "1 Introdução"
                ],
                "summary": "O que é o serviço de decodificação",
                "description": "Para uso em campo o aplicativo Lince para smartphones é a ferramenta usada para ler QR Codes Lince. No entanto essa ferramenta não é prática para uso em larga escala, em quiosques, balcões, recepções e qualquer outro local onde é necessário ler vários QR Codes em sequẽncia.\n\nO serviço de decodificação Lince é uma API REST robusta e altamente disponível que pode ser integrada a qualquer sistema com acesso à Internet para suprir a necessidade de decodificações automatizadas de QR Codes Lince."
            },
            "responses": {}
        },
        "/qrcode/decode": {
            "post": {
                "tags": [
                    "2 Referência da API"
                ],
                "summary": "Decodificar dados do QR Code Lince",
                "description": "Decodifica uma sequência de bytes que foi extraída de um QR Code Lince",
                "operationId": "decodeQRCode",
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "qrCodeContent",
                    "description": "Dados lidos do QR Code Lince, expressos como uma sequência crua de bytes",
                    "required": true
                }]
            },
            "responses": {
                "200": {
                    "description": "Sucesso, retorna informações do documento",
                    "schema": {
                        "$ref": "#/definitions/Documento"
                    }
                },
                "422": {
                    "description": "Dados do QR Code não puderam ser processados, corpo de retorno contém o motivo",
                    "schema": {
                        "$ref": "#/definitions/Documento"
                    }
                },
                "default": {
                    "description": "Erro inesperado"
                }
            }
        }
    },
    "definitions": {
        "Documento": {
            "type": "object",
            "properties": {
                "template": {
                    "$ref": "#/definitions/Modelo"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "image": {
                    "$ref": "#/definitions/Imagem"
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "Modelo": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "fields": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Campo"
                    }
                }
            }
        },
        "Imagem": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "base64": {
                    "type": "string"
                }
            }
        },
        "Campo": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                },
                "hidden": {
                    "type": "boolean"
                }
            }
        }
    }
}