{
  "swagger": "2.0",
  "info": {
    "version": "api",
    "title": "API Consulta Divida Ativa",
    "description": "\nPara informações de como se autenticar antes de consumir as API, por favor, consulte a documentação em: https://servicos.serpro.gov.br/api-serpro/biblioteca/arquivos/como-autenticar-documentacao-api.pdf\n\n    \nA api `consulta-divida-ativa` viabiliza a consulta de débitos na dívida ativa da união via serviço `HTTP REST`.\n## Endereço Base de Produção\n\n  https://gateway.apiserpro.serpro.gov.br/consulta-divida-ativa/api\n\n## Endereço Base de Degustação\n\n  https://gateway.apiserpro.serpro.gov.br/consulta-divida-ativa-trial/api"
  },
  "schemes": [
    "https"
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "host": "gateway.apiserpro.serpro.gov.br",
  "basePath": "/consulta-divida-ativa/api",
  "paths": {
    "/v1/inscricao/{numeroInscricao}": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Consulta dados de inscrição",
        "description": "\n## Exemplo\n#### Chamada\n      [GET] https://gateway.apiserpro.serpro.gov.br/api-divida-ativa/api/v1/inscricao/9061700096419\n\n#### Retorno\n    {\n      \"results\": [\n        {\n          \"inscricao\": \"90 6 17 000964-19\",\n          \"processoAdministrativo\": \"46206 099222/99-01\",\n          \"situacao\": \"ATIVA NAO PRIORIZADA PARA AJUIZAMENTO\",\n          \"dataInscricao\": \"16/12/2003\",\n          \"numeroPFNResponsavel\": \"1000\",\n          \"nomePFNResponsavel\": \"PRIMEIRA REGIAO\",\n          \"numeroPFNInscricao\": \"1000\",\n          \"nomePFNInscricao\": \"PRIMEIRA REGIAO\",\n          \"numeroProcessoJudicial\": \"\",\n          \"numeroProcessoJudicialNovo\": \"\",\n          \"orgaoOrigem\": \"DRT/DF\",\n          \"codigoNaturezaReceita\": \"0002\",\n          \"nomeNaturezaReceita\": \"NAO TRIBUTARIA\",\n          \"codigoReceitaPrincipal\": \"3623\",\n          \"nomeReceita\": \"DIV.ATIVA-CLT\",\n          \"codigoSerie\": \"5\",\n          \"nomeSerie\": \"CONSOLIDACAO DAS LEIS TRABALHISTAS\",\n          \"codigoOrgaoJustica\": \"100030\",\n          \"nomeOrgaoJustica\": \"VARA DO TRABALHO - BRASILIA\",\n          \"numeroJuizo\": \"000000\",\n          \"descricaoJuizo\": \"Número da Vara Desconhecido\",\n          \"dataProtocoloJudExecucao\": \"\",\n          \"dataDistribuicaoJudicial\": \"\",\n          \"indicadorMoedaTotalInscrito\": \"R$\",\n          \"valorTotalInscritoMoeda\": \"805,06\",\n          \"valorTotalInscritoIndex\": \"756,56\",\n          \"indicadorMoedaTotalConsolidado\": \"R$\",\n          \"valorTotalConsolidadoMoeda\": \"2.403,59\",\n          \"indicadorMoedaTotalRemanescente\": \"R$\",\n          \"valorRemanescenteMoeda\": \"805,06\",\n          \"valorRemanescenteIndex\": \"756,56\",\n          \"dataDevolucaoProcesso\": \"\",\n          \"numeroAutoInfracao\": \"\",\n          \"indicadorPrescricaoSV8\": \"NAO\",\n          \"dataDecretacaoFalencia\": \"\",\n          \"dataFimProcurador\": \"\",\n          \"numeroImovelITR\": \"\",\n          \"dataExtincaoInscricao\": \"\",\n          \"motivoSuspensaoExigilidade\": \"\",\n          \"numeroRipSpu\": \"\",\n          \"indicadorAnaliseOrgaoOrigem\": \"NAO\",\n          \"motivoExtincaoInscricao\": \"\",\n          \"indicadorProtImpedAjuiz\": \"\",\n          \"numeroAgrupamento\": \"\",\n          \"numeroInscricaoOriginal\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada1\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada2\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada3\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada4\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada5\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada6\": \"00 0 00 000000-00\",\n          \"numeroInscricaoDerivada7\": \"00 0 00 000000-00\",\n          \"dcomp\": \"\",\n          \"descricaoNaoCalculado\": \"\",\n          \"codigoMunicipioSPU\": 0,\n          \"codigoSistemaOrigem\": \"M\",\n          \"descricaoSistemaOrigem\": \"Manual\"\n        }\n      ]\n    }          \n<br/>      \n#### Exemplos para retorno diferentes\n\n    (200) numeroInscricao: 9061700096419\n    (200) numeroInscricao: 4483300091135            \n    (404) numeroInscricao: qualquer outro número            \n    ",
        "operationId": "consultaInscricao",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "numeroInscricao",
            "in": "path",
            "description": "Número de inscrição",
            "required": true,
            "type": "string",
            "pattern": "^\\d{1,13}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna objeto json com o resultado da consulta"
          },
          "400": {
            "description": "Número de Inscrição inválido."
          },
          "404": {
            "description": "Inscrição não encontrada."
          },
          "500": {
            "description": "Erro interno da API"
          }
        }
      }
    },
    "/v1/devedor/{numeroInscricaoDevedor}": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Consulta dados do devedor, seja pessoa física ou jurídica",
        "description": "\n## Exemplo\n#### Chamada\n      [GET] https://gateway.apiserpro.serpro.gov.br/api-divida-ativa/api/v1/devedor/09781911768\n\n#### Retorno\n      {\n        \"results\": [\n          {\n            \"numeroInscricao\": \"10 5 03 003880-14\",\n            \"numeroProcesso\": \"10166 677771/2014-12\",\n            \"situacaoInscricao\": \"121105\",\n            \"situacaoDescricao\": \"ATIVA NAO PRIORIZADA PARA AJUIZAMENTO\",\n            \"nomeDevedor\": \"DEVEDOR DA SILVA\",\n            \"tipoDevedor\": \"PRINCIPAL\",\n            \"valorTotalConsolidadoMoeda\": \"4.457,56\",\n            \"cpfCnpj\": \"097.819.117-68\",\n            \"codigoSida\": \"1000\",\n            \"nomeUnidade\": \"PROCURADORIA REGIONAL DA FAZENDA NACIONAL DA 1A REGIAO\",\n            \"codigoComprot\": \"1101951\",\n            \"codigoUorg\": \"0005786\"\n          }\n        ]\n      }\n<br/>      \n#### Exemplos para retorno diferentes\n\n    (200) numeroInscricaoDevedor: 09781911768 (CPF)\n    (200) numeroInscricaoDevedor: 01415666000181 (CNPJ)\n    (404) numeroInscricaoDevedor: qualquer outro número",
        "operationId": "consultaDevedorCPF",
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "numeroInscricaoDevedor",
            "in": "path",
            "description": "Número de inscrição (CPF ou CNPJ) do devedor",
            "required": true,
            "type": "string",
            "pattern": "^\\d{11,14}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna objeto json com o resultado da consulta"
          },
          "400": {
            "description": "O valor do parâmetro 'numeroInscricaoDevedor' inválido: {numeroInscricaoDevedor}"
          },
          "404": {
            "description": "Inscrição não encontrada."
          },
          "500": {
            "description": "Erro interno da API"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Verifica status da API",
        "responses": {
          "200": {
            "description": "API funcionando"
          },
          "500": {
            "description": "API fora do ar"
          }
        }
      }
    }
  }
}
